.grid- {
  &size12of12 {
    width:100%;
  }
  &size11of12 {
    width:91.666%;
  }
  &size10of12 {
    width:83.333%;
  }
  &size9of12 {
    width:75%;
  }
  &size8of12 {
    width:66.666%;
  }
  &size7of12 {
    width:58.333%;
  }
  &size6of12 {
    width:50%;
  }
  &size5of12 {
    width:41.666%;
  }
  &size4of12 {
    width:33.333%;
  }
  &size3of12 {
    width:25%;
  }
  &size2of12 {
    width:16.666%;
  }
  &size1of12 {
    width:8.333%;
  }
}
