%layout- {

  &pushLeft {
    float:left;
  }
  
  &pushRight {
    float:right;
  }

  &maxWidth1440 {
    max-width:1440px;
    margin:0 auto;
  }

  &maxwidth720 {
    max-width: 720px;
    margin: 0 auto;
  }
  
  &maxwidth1024 {
    max-width: 1024px;
    margin:0 auto;

  }


  &sidePadding10 {
    padding:0 10px;
  }
}

.layout-maxwidth720 {
  max-width: 720px;
  margin: 0 auto;
}