%link {
  &--darkGreyToPosh {
    color:$dark-grey;
    &:hover {
      color:$posh-color;
    }

  } 
  &--greyToPosh {
    color:$grey;
    &:hover {
      color:$posh-color;
    }

  }
  &--greyToDarkGrey {
    color:$grey;
    &:hover {
      color:$dark-grey;
    }
  }
  &--darkBrownToBrown {
    color: $dark-brown;
    &:hover {
      color: $brown;
    }
  }
}