// Font-family

$font-family--primary         : 'Lato',Helvetica,sans-serif;
$font-family--secondary       : 'Crimson Text',Georgia,serif;
$font-family--didot           : 'Didot', Georgia, serif;
$font-family--didotLH         : 'Linotype Didot', Georgia, serif;


// Font-weigth
$font-weight--ultralight: 100;
$font-weight--thin      : 200;
$font-weight--light     : 300;
$font-weight--normal    : 400;
$font-weight--medium    : 500;
$font-weight--semibold  : 600;
$font-weight--bold      : 700;


// Font-sizes
$font-size-xx-large     : 30px;
$font-size-x-large      : 16px;
$font-size-large        : 14px;
$font-size-normal       : 12px;
$font-size-small        : 10px;
$font-size-x-small      : 8px;

// Colors
$black              : #000;
$white              : #fff;
$grey               : #666;
$brown              : #ba9673;
$dark-brown         : #564521;
$posh-color         : #826072;
$error-color        : #C63C3C;

$x-light-grey       : #fafafa;
$light-grey         : #999;
$dark-grey          : #333;


%heading {
  font-family:$font-family--secondary;
  font-style: italic;
}

%font-size-x-small {
  font-size:$font-size-x-small;
}

%font-size-normal {
font-size:$font-size-normal
}

%font-size-small {
  font-size:$font-size-small;
}
%font-size-large {
  font-size:$font-size-large;
}

%font-size-x-large {
  font-size:$font-size-x-large;
}

%font-all-caps {
  text-transform:uppercase;
  letter-spacing: 1px;
}

%overflow-ellipsis {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.align-right {
  text-align: right;
}
