@import "top-menu";
@import "menu";

%top-menu__gradient {
	background-image:linear-gradient(-180deg, #e6e6e6 0%, #999999 100%);	
}


%display--desktop-only {
	@media all and (max-width:719px) {
		display:none;
	}
}

%display--mobile-only {
	@media all and (min-width:720px) {
		display:none;
	}
}


.logo, .logo--nochange {
	display:block;
	max-width: 90%;
	padding:25px 0;
	margin:0 auto;
}


.logo {
	@media all and (max-width:719px) {
		position:absolute;
		padding: 0;
		top:5px;
		left:0;
		right:0;
		height:26px;
	}
}

.message {
	&.red {
		background:#EEB4B4;
		p {
			color:$white;
		}
	}
	text-align:center;
	p {
		padding:15px 10px;
		line-height: 1.5;
	}
}