.menu {
  &__float {
    @media all and (max-width:719px) {
      position:fixed;
      top:0;
      left:-250px;
      height:100%;
      background: #ebebeb;
      width: 250px;
      height:100%;
      overflow-x: scroll;
    }
  }
  @extend .grid-size12of12;
  background:$white;
  &__user {
    padding: 8px 10px;
    color:$light-grey;
    @extend %display--mobile-only;
    &__img {
      @extend %round-image;
      width:20px;
      vertical-align: middle;
      margin-right:5px;
    }
    @extend %font-all-caps;
    @extend %top-menu__gradient;
  }
  a .menu__user {
      @extend %link--greyToDarkGrey;
  }
  &__secondary {
    @extend %display--mobile-only;
    box-shadow:inset 0 0 10px 0 $light-grey;
    li {
      a {
        display: block;
        padding: 10px;
        @extend %link--darkBrownToBrown;
        font-weight: $font-weight--bold;
        &:hover {
          background:rgba($light-grey,0.1);
        }
      }
      span {
        @extend a;
      }
      &:not(:last-child) {
        border-bottom: 1px solid rgba($light-grey,0.25);
      }
      &.active, &.register-button--side, &.login-button--side {
        padding: 10px;
        color:$light-grey;
      }
      &.register-button--side, &.login-button--side {
        color:$grey;
        @extend %link--greyToDarkGrey;
        &:hover {
          background:rgba($light-grey,0.1);
        }
      }
    }
  }
  &__nav {
    position:relative;
    text-align: center;
    @extend %shadow-general, %shadow-general--after;
    a, span {
      @extend %link--darkBrownToBrown;
      // font-weight: $font-weight--bold;
      &.button--register {
        box-sizing: border-box;
        width: 100%;
        color: $white;
        font-weight: $font-weight--bold;
        text-transform: uppercase;
        &:hover {
          color: #fd6c53;
        }
      }
    }
      @media all and (max-width:719px) {
        &:before, &:after {
          display: none;
        }
        .block-search {
          display: none;
        }
        .main-nav {
          display: block;
        }
      }
      @media all and (min-width: 719px) {
        .block-search {
          display: inline-block;
          padding: 11px 0;
          vertical-align: middle;
          margin-left: 10px;
        }
        .main-nav {
          display: inline-block;
        }
      }
    .block-search {
      .show-search {
        cursor: pointer;
        height: 22px;
        .icon-search {
          height: 100%;
        }
      }
      .input-search {
        display: block;
        width: 16px;
        height: 0;
        margin: auto;
        position: relative;
        opacity: 0;
        transition: all 0s linear;
        input {
          display: block;
          width: 100%;
          height: 100%;
          max-height: 32px;
          background-color: $x-light-grey;
          padding: 8px 30px 8px 8px;
          border: none;
          box-shadow: none;
          font-size: 16px;
          line-height: 1em;
          font-family: inherit;
          color: $dark-grey;
        }
        button {
          display: block;
          width: 16px;
          height: 100%;
          position: absolute;
          top: 0;
          right: 8px;
          cursor: pointer;
          outline: none;
          border: none;
          padding: 0;
          -webkit-appearance: none;
          -moz-appearance: none;
          background-color: transparent;
          .icon-search {
            display: block;
            width: 100%;
            height: 100%;
            &::before {
              width: 100%;
              height: 100%;
              line-height: 32px;
            }
          }
        }
      }
      &.active {
        @media all and (min-width: 720px) and (max-width: 1024px) {
          transition: none;
        }
        .input-search {
          width: 330px;
          height: auto;
          max-height: 32px;
          opacity: 1;
          transition: all .2s linear;
          @media all and (min-width: 720px) and (max-width: 1024px) {
            transition: none;
          }
        }
      }
    }

    > .horizontal-list--inline {
      text-align: center;
      > li {
        @extend %font-size-normal;
        padding-top:20px;
        padding-bottom:20px;
        position: relative;

        @media all and (min-width:720px) and (max-width:1023px) {
          position: static;
        }

        @media all and (max-width:719px) {
          display: block;
          position:relative;
          padding: 0;
          background:linear-gradient(-180deg, #FAFAFA 0%, #EDEDED 100%);
          &.open {
            background:linear-gradient(-180deg, rgb(230, 230, 230) 0%, rgb(242, 242, 242) 100%);
            > span:after {
              content: '-';
            }
          }
          text-align: left;
          > span {
            cursor:pointer;
            display: block;
            padding:10px;
            &:after {
              position:absolute;
              top:10px;
              right:10px;
              content:'+';
            }
            &:last-child {
              &:after { display: none; }
              a { display: block; }
            }
          }
          .active {
            color:$light-grey;
          }
        }
        span { cursor: pointer; }

        &:hover {
          .menu__dropdown {
            z-index: 2;
            opacity: 1;
            display: block;
            &.horizontal-list--flex {
              display: flex;
            }
          }
        }

      }
      span {
        @extend %font-all-caps;
        a {
          color: inherit;
          font-weight: inherit;
          &:hover {
            color: inherit;
          }
        }
      }
      .active {
        color:$brown;
        font-weight:$font-weight--bold;
      }

    }
  }
  
  &__dropdown {
    @extend %shadow-general, %shadow-general--after;
    background-color: rgba(255, 255, 255, .93);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    min-width: 170px;
    padding: 15px 0;
    position:absolute;
    z-index: -1;
    top: 100%;
    left:0;
    right:0;
    opacity: 0;
    display: none;
    transition: all .2s linear;
    &:after {
      content: ' ';
      display: table;
      clear: both;
    }

    &.horizontal-list--flex {
      min-width: 600px;
      left: -240px;
      flex-wrap: wrap;
      justify-content: flex-start;

      &-vertical {
        max-height: 360px;
      }

      li {
        a {
          // font-size: $font-size-normal;
        }
      }

      @media all and (min-width:720px) and (max-width:1023px) {
        left: initial;
        right: 0;
      }

      @media all and (max-width:719px) {
        min-width: 100%;
        width: 100%;
        box-sizing: border-box;
        left: 0;
        display: block;

        li {
          flex-basis: 100%;
          width: 100%;
        }
      }
    }

    > li {
      display: block;
      padding: 0 25px;
      margin: 10px 0;
      text-align: left;
      position: relative;
      &:last-child { margin-bottom: 0; }
      @extend %font-size-large;

      i.icon-right-thin-open {
        float: right;
        &:before {
          font-size: $font-size-normal;
          line-height: $font-size-normal;
        }
      }

      &:hover {
        > span {
          color: $brown;
        }
        > ul {
          top: 0;
          opacity: 1;
          visibility: visible;
          z-index: 1;
        }
      }

      a {
        display: block;
        color:$grey;
        &:hover {
          color:$brown;
        }
      }

      span {
        display: block;
        color:$grey;
        text-transform: none !important;
        font-size: inherit;
        
        &:hover {
          cursor: default;
        }
      }

      @media all and (max-width:719px) {
        display: block;
        position:relative;
        padding: 0;
        margin: 0;
        background:linear-gradient(-180deg, #FAFAFA 0%, #EDEDED 100%);
        &.open {
          background:linear-gradient(-180deg, rgb(230, 230, 230) 0%, rgb(242, 242, 242) 100%);
          > span:after {
            content: '-';
          }
        }
        text-align: left;
        > span {
          cursor:pointer;
          display: block;
          padding:10px;
          font-size: $font-size-normal;
          &:after {
            position:absolute;
            top:10px;
            right:10px;
            content:'+';
          }
          i.icon-right-thin-open {
            display: none;
          }
          // &:last-child {
          //   &:after { display: none; }
          //   a { display: block; }
          // }
        }
        &:not(:last-child) {
          border-bottom: 1px solid rgba($light-grey,0.25);
        }
        ul:last-child { padding-right: 0; }
        a {
          padding: 10px;
          font-size: $font-size-normal;

          &:hover {
            color:$dark-grey;
            background:rgba($light-grey,0.1);
          }
        }
        &.active {
          padding: 10px;
        }
      }

    }

    &__submenu {
      position: absolute;
      z-index: -1;
      top: -100%;
      left: 100%;
      width: 120px;
      opacity: 0;
      visibility: hidden;
      padding: 10px 20px;
      @extend %shadow-general, %shadow-general--after;
      background-color: rgba(255, 255, 255, .93);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
      transition: all .2s linear .2s;

      li {
        display: block;
        margin: 0 0 10px;
        text-align: left;
        &:last-child { margin-bottom: 0; }
        @extend %font-size-normal;
        a {
          display: block;
          color:$grey;
          font-size: $font-size-normal;
          &:hover {
            color:$brown;
          }
        }
      }

      @media all and (max-width:719px) {
        position: static;
        visibility: visible;
        opacity: 1;
        display: none;
        background: transparent;
        box-shadow: none;
        width: 100%;
        padding: 0;
      }
    }

    @media all and (max-width:719px) {
      &:before, &:after {
        display: none;
      }
      position:relative;
      background: none;
      padding:0;
      box-shadow: none;
      opacity: 1;
      z-index: 1;
    }

    @media all and (min-width: 720px) {
      > ul {
        float: left;
        padding-right: 10px;
        box-sizing: border-box;
      }
    }

  }
  text-align: center;
  > a {
    display: inline-block;
    margin: auto;
    text-align: center;
    h1 {
      padding: 0;
    }
  }
  @media all and (max-width: 719px) {
    height: 0;
  }
}