.top-menu {
  position:relative;
  @extend .grid-size12of12;
  background-color: #fff;
    &__left {
      @extend %layout-pushLeft;
    }

    &__right {
      @extend %layout-pushRight;

      .links__right {
        display: inline-block;
        vertical-align: middle;
        a {
          display: inline-block;
          padding-top:8px;
          padding-bottom:8px;
        }

        @media all and (max-width:719px) {
          a {
            display: block;
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }
    }

    &__menu-icon {
      cursor:pointer;
    }

    a {
      @extend %link--darkBrownToBrown;
      font-weight: $font-weight--bold;
      &:hover {
        .details {
          background: rgba($grey,.2);
        }
      }
    }

    .horizontal-list--float { 
      @extend %font-all-caps, %font-size-small;

      .top-menu__nav--active {
        color: $light-grey;
      }
      li {
        position:relative;
        @media all and (max-width:719px) {
          display: block;
          padding-top:10px;
          padding-bottom:10px;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      .top-menu__menu-icon {
        .menu-span {
          padding: 3px 0;
        }
      }
      .top-menu__search-icon {
        position: static;
        .input-search {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 30px;
          z-index: -1;
          opacity: 0;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
          transition: all .2s linear;
          input {
            display: block;
            width: 100%;
            background-color: $white;
            padding: 8px 20px 8px 6px;
            border: none;
            box-shadow: none;
            font-size: 14px;
            font-family: inherit;
            color: $dark-grey;
          }
          button {
            display: block;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 7px;
            right: 6px;
            cursor: pointer;
            outline: none;
            border: none;
            padding: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: transparent
          }
        }
        &.active {
          .input-search {
            top: 40px;
            z-index: 2;
            opacity: 1;
          }
        }
      }
    }

    span {
      display: inline-block;
      padding-top:8px;
      padding-bottom:8px;
      @extend %link--darkBrownToBrown;
      font-weight: $font-weight--bold;
      &.button--register {
        color: $white;
      }
    }

    span.details {
      background:rgba($grey,.1);
      padding:4px;
      @media all and (max-width:719px) {
        position:absolute;
        top:2px;
        right: 5px;
        padding: 2px;
      }
    }


  & &__display {
    &--desktop-only {
      @extend %display--desktop-only;
    }
    &--mobile-only {
      @extend %display--mobile-only;
    }
  }
  .user__img {
    @extend %round-image;
    display: inline;
    vertical-align: middle;
    width: 20px;
    height:20px;
    & + span {
      padding-left: 5px;
    }
  }
  .user {
    cursor:pointer;
    & span:after {
      font-family: "poshare";
      font-style: normal;
      font-weight: normal;
      padding-left:2px;
      content:'\e80d';
    }
    &.arrow-down span:after {
      font-family: "poshare";
      font-style: normal;
      font-weight: normal;
      padding-left:2px;
      content:'\e80c';  
    }
    .user__dropdown {
      cursor:initial;
      z-index: 1;
      letter-spacing: 0;
      li {
        padding:0;
        float: none;
        padding: 0 40px;
        margin: 10px 0;
        &.active {
          // padding:5px 10px;
          // color:$light-grey;
          // background:darken($x-light-grey,2%);
        }
        &:not(.active):hover {
          // background:darken($x-light-grey,5%);
        }
        a {
          display: block;
          &:hover {
            color: $posh-color;
          }
        }
      }
      text-transform: none;
      @extend %font-size-large;
      display: none;
      position:absolute;
      background-color: rgba(255, 255, 255, .93);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
      padding: 10px 0;
    }
  }
}
