.not-found {
  padding-top: 0;

  &__wrapper {
    text-align: center;
    max-width: 1024px;
    margin: auto;

    img {
      margin-bottom: 30px;
    }

    p {
      font-size: $font-size-x-large + 2;
      font-weight: $font-weight--light;
      line-height: 1.5em;
    }

    a {
      @extend %link--darkBrownToBrown;
      @extend %heading;
      font-size: 24px;
    }
  }

  @media all and (max-width: 719px) {
    p {
      font-size: $font-size-large;
    }

    a {
      font-size: $font-size-x-large + 2;
    }
  }
}