.about {
  &__header {
    background: url('../img/about_header.png') center center no-repeat;
    background-size: cover;
    padding: 170px 0;
    h1 {
      @extend %heading;
      padding: 0;
      text-align: center;
      color: $white;
      font-size: 2 * $font-size-xx-large;
      font-weight: $font-weight--semibold;
      line-height: 1em;
      letter-spacing: 1px;
    }
  }

  &__body {
    p {
      font-family: $font-family--primary;
      font-size: $font-size-x-large;
      font-weight: $font-weight--light;
      line-height: 3em;
      color: $black;
    }
    &__f-p {
      width: 100%;
      box-sizing: border-box;
      max-width: 800px;
      margin: auto;
      padding: 120px 0;
      text-align: center;
      p {
        margin-top: 30px;
        &:first-child { margin-top: 0; }
      }
    }
    img {
      display: block;
      width: 100%;
    }
    &__main-text {
      padding: 130px 0;
      background-color: #f2f2f2;
      ul {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        li {
          display: block;
          padding: 0 20px;
          &:first-child {
            flex: 0 0 30%;
          }
          &:last-child {
            flex: 0 0 50%;
          }
        }
      }
      h2 {
        @extend %heading;
        color: $posh-color;
        font-size: $font-size-xx-large;
        font-style: normal;
        line-height: 1.5em;
      }
      p {
        width: 100%;
        flex: 1 1 100%;
        margin-bottom: 60px;
        &:last-child { margin-bottom: 0; }
      }
      > p {
        max-width: 1024px;
        box-sizing: border-box;
        padding: 0 20px;
        margin: 60px auto 0;
        text-align: center;
      }
    }
  }

  &__footer {
    display: none;
    background: url('../img/about_footer.png') center center no-repeat;
    background-size: cover;
    padding: 200px 0 170px;
    &__logo {
      display: block;
      margin: 0 auto 70px;
      img {
        display: block;
        margin: auto;
        max-width: 100%;
      }
    }
    p {
      text-align: center;
      color: $grey;
      font-family: $font-family--primary;
      font-size: $font-size-xx-large;
    }
  }
  @media all and (min-width: 1024px) and (max-width: 1200px) {
    &__body__main-text {
      h2 {
        font-size: 36px;
      }
    }
  }
  @media all and (min-width: 720px) and (max-width: 1023px) {
    &__header {
      padding: 120px 0;
      h1 {
        font-size: 44px;
      }
    }
    &__body {
      &__f-p {
        padding: 120px 20px;
      }
      &__main-text {
        h2 {
          font-size: 24px;
        }
      }
    }
    &__footer {
      padding: 150px 0 120px;
    }
  }
  @media all and (min-width: 480px) and (max-width: 719px) {
    &__header {
      padding: 90px 0;
      h1 {
        font-size: $font-size-xx-large;
      }
    }
    &__body {
      p {
        font-size: $font-size-large;
      }
      &__f-p {
        padding: 90px 20px;
      }
      &__main-text {
        padding: 90px 0;
        h2 {
          font-size: $font-size-x-large+2;
        }
        p {
          font-size: $font-size-normal;
        }
      }
    }
    &__footer {
      padding: 90px 0 60px;
      &__logo {
        width: 80%;
        margin-bottom: 30px;
      }
      p {
        font-size: 24px;
      }
    }
  }
  @media all and (max-width: 479px) {
    &__header {
      padding: 60px 0;
      h1 {
        font-size: 20px;
      }
    }
    &__body {
      p {
        font-size: $font-size-normal;
        line-height: 2em;
      }
      &__f-p {
        padding: 45px 20px;
      }
      &__main-text {
        padding: 30px 0;
        ul {
          flex-wrap: wrap;
          li {
            &:first-child {
              flex: 1 1 100%;
              margin-bottom: 30px;
            }
            &:last-child {
              flex: 1 1 100%;
            }
          }
        }
        h2 {
          text-align: center;
          font-size: $font-size-large;
        }
        p {
          font-size: $font-size-small;
          margin-bottom: 30px;
        }
        > p {
          margin-top: 30px;
        }
      }
    }
    &__footer {
      padding: 60px 0 30px;
      &__logo {
        width: 80%;
        margin-bottom: 30px;
      }
      p {
        font-size: $font-size-x-large;
      }
    }
  }
}