.admin {
	  @extend %layout-maxwidth720;
	  font-size:0;
	  &__nav {
	  	.nav {
			&__add {
				display: inline-block;
				@extend .grid-size3of12;
				box-sizing:border-box;
				@extend %layout-sidePadding10;
					
				.button--small {
					padding:6px;
				}
				@media all and (max-width:719px) {
					display: block;
					width:100%;
					margin-bottom: 20px;
				}
			}
			&__search {
				@extend %layout-pushLeft;
				@extend .grid-size6of12;
				box-sizing:border-box;
				@extend %layout-sidePadding10;
			}
			&__filter {
				@extend %layout-pushRight;
				@extend .grid-size3of12;
				box-sizing:border-box;
				@extend %layout-sidePadding10;
				select {
					@extend .grid-size12of12;
				}
				@media all and (max-width:719px) {
					width:50%;
				}
			}
	  	}
	  	@extend %clear;
	  }

  	&__items {
  		.card {
  			&:first-child {
  				margin-top: 40px;
  			}
	  		&__image {
	  			vertical-align: middle;
	  			@media all and (max-width:479px) {
					vertical-align: top;
				}
	  		}
	  		&__details {
	  			vertical-align: middle;
  				@media all and (max-width:479px) {
					vertical-align: top;
				}
				.details {
					vertical-align: middle;
					&__item {
						.edit-listing, 
						.manage-calendar, 
						.delete-listing {
							a {
								@extend %link--darkGreyToPosh;
							}
						}
						width:calc(66.6% - 30px);
						vertical-align: middle;	
						@media all and (max-width:479px) {
							vertical-align: top;
							display: block;
							width:100%;
						}
						@media all and (min-width:719px){
							width:calc(75% - 30px);

						}
					}
					&__status {
						position:relative;
						height:100%;
						box-sizing:border-box;
						display: inline-block;
						@extend .grid-size4of12;
						vertical-align: middle;
						@extend %font-size-large;
						@extend %layout-sidePadding10;
						.toggle {
							li label {
								padding:5px 0;
							}
						} 
						@media all and (max-width:479px) {
							vertical-align: top;
							display: block;
							margin-top: 20px;
							min-width:140px;
							width:150px;
							width:calc(100% - 120px);
							&.message {
								width:100%;
							}
						}
						@media all and (min-width:480px){
							width:calc(33.3% + 30px);
						}
						@media all and (min-width:719px){
							width:calc(25% + 30px);
						}
						.status__message {
							text-align: center;
							@extend %font-size-small, %font-all-caps;
							@media all and (max-width:479px){
								text-align: left;
							
						}
						}
						.status__message--details {
							text-align: center;
							@extend %font-size-small;
							@media all and (max-width:479px){
								text-align: left;
							}
						}						
					}
				}
			}
		}
	}	  
}