.bag {
  &__summary {
    box-sizing:border-box;
    @extend %layout-pushRight, %layout-sidePadding10;
    width:25%;
    position: relative;
    .summary-box {
      h2 {
        @extend %font-size-x-large;
        color:$dark-grey;
        font-weight:$font-weight--bold;
        text-align: center;
      }
      ul {
        li {
          padding: 20px 0;
          border-bottom: 1px solid #ddd;
          &:last-child {
            border-bottom: none;
            padding-bottom: 0;
          }
        }
      }
      p {
        margin-top: 10px;
        @extend %clear;
        &:first-child { margin-top: 0; }
        span {
          @extend %layout-pushRight;
        }
        input {
          margin: 10px 0;
          font-size: $font-size-normal;
        }
        .button {
          @extend %layout-pushRight;
        }
      }
      // Old button
      input.button {
        margin-top: 20px;
      }
      &__total {
        font-size: $font-size-x-large;
      }
      padding:10px;
      box-shadow:0 0 20px 0 rgba(0,0,0,0.1);
      .payment-error__button {
        margin-top: 20px;
        @media all and (max-width:719px) {
          display: none;
        }
      }
    }
    .promo-code {
      &__price {
        display: none;
      }
      .error {
        @extend %layout-pushLeft;
      }
      &__button {
        @extend %layout-pushRight;
      }
    }
    @media all and (max-width:719px) {
      float:none;
      width:100%;
      margin-bottom: 20px;
    }
  }
  &__form {
    box-sizing:border-box;
    @extend %layout-pushLeft;
    width:75%;
    @media all and (max-width:719px) {
      float:none;
      width:100%;
      margin-bottom: 20px;
    }
    .button {
      margin-top:40px;
      @media all and (min-width:720px) {
          display: none;
        }
    }
    #newBillingAddress {
      display: none;
    }
  }
  &__no-products {
    margin: 0 0 60px;
    @extend %heading;
    text-align: center;
    font-size: 1.5*$font-size-x-large;
  }
  &__thanks {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .95);
    z-index: 4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    visibility: visible;
    &__text {
      box-sizing: border-box;
      max-width: 480px;
      flex: auto;
    }
    p {
      @extend %heading;
      margin: 10px 0;
      text-align: center;
      font-size: $font-size-x-large;
      line-height: 1.5em;
    }
    @media all and (max-width:719px) {
      p {
        font-size: $font-size-x-large + 4;
      }
    }
  }
}