.card {
  & + & {
    margin-top: 40px;
  }
  font-size:0;
  @extend %layout-maxwidth1024;
  & > [class*='grid_6_'] {
    vertical-align: top;
  }
  p:not(:first-child) {
    margin-top: 10px;
  }
  p {
    line-height: 1.25;
    &.brand {
      @extend %font-size-large;
      color: $dark-grey;
    }
    &.name {
      color: inherit;
      margin-top: 5px;
      @extend %font-size-x-large;
    }
    input[type="checkbox"] {
      vertical-align: bottom;
    }
    a {
      color: inherit;
    }
  }

  &__image {
    box-sizing:border-box;
    display: inline-block;
    vertical-align: top;
    @extend %layout-sidePadding10;
    width:120px;
    min-height: 120px;
    position: relative;

    .loader {
      position: absolute;
    }

    img {
      @extend .grid-size12of12;
    }
  }
  &__details {
    box-sizing:border-box;
    display: inline-block;
    width:calc(100% - 120px);
    .details {
      &__select {
        margin-top: 10px;
        width: 100%;
        padding: 5px;
        text-transform: uppercase;
      }
      &__item {
        box-sizing:border-box;
        display: inline-block;
        @extend %layout-sidePadding10;
        @extend .grid-size3of12;
        @extend %font-size-normal;
        @media all and (min-width:480px) and (max-width:719px) {
          width:50%;
        }
        @media all and (max-width:479px) {
          width:100%;
        }
        .item__delete {
          color: $posh-color;
          font-weight: $font-weight--bold;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
        .confirm-button {
          color: $dark-grey;
          cursor: pointer;
          &:hover {
            color: $posh-color;
          }
        }
      }
      &__order {
        box-sizing:border-box;
        display: inline-block;
        @extend .grid-size9of12;
        vertical-align: top;
        .button {
          text-transform: none;
          margin: 10px auto;
          font-size: 9px;
        }
        > div {
          .order-status {
            @extend .grid-size12of12;
            position:relative;
            background: $error-color;
          }
          box-sizing:border-box;
          display: inline-block;
          vertical-align: top;
          width:20%;
          @extend %layout-sidePadding10;
          @extend %font-size-normal;
          @media all and (max-width:719px) {
            display: block;
            width: 100%;
            &:not(:first-child) {
              margin-top: 10px;
            }
          }

          > button {
            margin-top: 10px;
          }
          
        }
      
        @media all and (min-width:480px) and (max-width:719px) {
          width:50%;
        }
        @media all and (max-width:479px) {
          margin-top: 10px;
          display: block;
          width: 100%;
        }
      }
      &__tracking-numbers {
        width: 75%;
        margin-left: 25%;
        text-align: left;
        @extend %clear;
        .tracking-number {
          float: left;
          width: 40%;
          box-sizing: border-box;
          padding: 10px;
          font-size: $font-size-normal;
          &:first-child { margin-left: 0; }
        }
        @media all and (max-width: 719px) {
          width: 100%;
          margin-left: 0;
          .tracking-number {
            clear: both;
            width: 100%;
          }
        }
      }

      &__status {
        li {
          @extend %font-size-normal;
          @media all and (max-width: 720px) {
            font-size: $font-size-small;
          }
        }
      }
      &__order--3columns {
        @extend .details__order;
        div {
          width:33.33%;
          @media all and (max-width:719px) {
            width: 100%;
          }
        }
      }
      &__order--4columns {
        @extend .details__order;
        div {
          width:25%;
          @media all and (max-width:719px) {
            width: 100%;
          }
        }
      }
    }
    .status-info {
      color: $posh-color;
      text-transform: uppercase;
    }
  }
  &--shadow:last-child {
    position:relative;
    padding-bottom:20px;
    margin-bottom: 40px;
    @extend %shadow-general, %shadow-general--after;
  }

  &-select {
    position: relative;
    margin: 10px auto;
    &__items {
      position: absolute;
      top: 100%;
      left: -1px;
      width: 100%;
      height: auto;
      z-index: -1;
      opacity: 0;
      background-color: $white;
      border: 1px solid $grey;
      @extend %transition;
      li {
        a {
          display: block;
          color: $grey;
          padding: 5px 3px;
          text-align: left;
          @extend %transition;
          &:hover {
            background-color: $grey;
            color: $white;
          }
        }
      }
    }
    &:hover {
      .card-select__items {
        z-index: 1;
        opacity: 1;
      }
    }
  }
  .orders-control {
    align-items: flex-start;
    .order-search {
      display: block;
      flex-basis: 20%;
      margin: 0;
      position: relative;
      transition: all 0s linear;
      input {
        display: block;
        width: 100%;
        height: 100%;
        max-height: 32px;
        padding: 4px 30px 4px 8px;
        box-shadow: none;
        font-family: inherit;
        font-size: $font-size-small;
        color: $dark-grey;
      }
      button {
        display: block;
        width: 16px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 8px;
        cursor: pointer;
        outline: none;
        border: none;
        padding: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        .icon-search {
          display: block;
          width: 100%;
          height: 100%;
          &::before {
            width: 100%;
            height: 100%;
            line-height: 22px;
          }
        }
      }
      &__message {
        display: block;
        font-size: $font-size-normal;
        line-height: 1.5em;
        margin-top: 10px;
      }
      @media all and (max-width: 719px) {
        flex-basis: 100%;
      }
    }

    .order-filter {
      flex-basis: 63.33%;
      font-size: $font-size-normal;
      text-align: center;
      &__title {
        display: none;
      }
      ul { width: 100%; }
      li {
        box-sizing: border-box;
        padding: 5px 10px;
        border-right: 1px solid #ccc;
        text-align: center;
        flex: auto;
        &:last-child {
          border-right: none;
          padding: 0 10px;
        }
        .card-select {
          margin: 0;
          li {
            padding: 0;
            a {
              box-sizing: border-box;
              text-transform: none;
              &:hover {
                color: $white;
              }
            }
          }
        }
        a {
          color: $light-grey;
          display: block;
          width: 100%;
        }
        span {
          color: $black;
          text-decoration: underline;
          display: block;
          width: 100%;
        }
      }

      @media all and (max-width: 719px) {
        display: block;
        width: 100%;
        flex-basis: 100%;
        margin-top: 10px;
        position: relative;
        background: linear-gradient(-180deg,#FAFAFA 0,#EDEDED 100%);
        &__title {
          display: block;
          box-sizing: border-box;
          padding: 10px 30px 10px 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: uppercase;
          letter-spacing: 1px;
          text-align: left;
          font-size: $font-size-large;
          &:after {
            position: absolute;
            top: 10px;
            right: 10px;
            content: '+';
          }
        }
        ul {
          display: none;
          li {
            padding: 0;
            border-right: none;
            &:last-child {
              padding: 0;
            }
            .card-select {
              padding: 0;
              border: none;
              color: inherit;
              &:hover {
                background: transparent;
              }
              &__title {
                display: none;
              }
              &__items {
                position: static;
                opacity: 1;
                background: transparent;
                border: none;
              }
            }
            a, span {
              display: block;
              box-sizing: border-box;
              padding: 10px;
              text-align: left;
              font-size: $font-size-large;
              border-top: 1px solid #D6D6D6;
            }
            span {
              text-decoration: none;
              background: #d6d6d6;
            }
          }
        }
        &.open {
          background: linear-gradient(-180deg,#e6e6e6 0,#f2f2f2 100%);
          .order-filter__title {
            &:after {
              content: '-';
            }
          }
          ul {
            display: block;
          }
        }
      }
    }

    .pagination__wrapper {
      text-align: right;
      flex-basis: 16.67%;
      width: 100%;
      height: auto;
      padding: 5px 0;
      ul { width: 100%; }
      li {
        display: inline-block;
        a, span {
          margin: 0 2px;
          color: $light-grey;
          font-size: $font-size-large;
        }
      }
      @media all and (max-width: 719px) {
        flex-basis: 100%;
        margin-top: 10px;
      }
    }
  }

  &--late-shipping {
    color: $error-color;
    p.brand {
      color: $error-color;
    }
  }
}

.balance-details {
  display: none;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  @extend %layout-maxwidth1024;
  ul {
    li {
      flex-basis: 25%;
      box-sizing: border-box;
      display: block;
      padding: 20px 30px;
      border-right: 1px solid #ccc;
      text-align: center;
      font-size: $font-size-small;
      font-weight: $font-weight--bold;
      line-height: 1.5em;
      text-transform: uppercase;
      color: $light-grey;
      &:last-child { border-right: none; }
      strong {
        display: block;
        margin-top: 5px;
        color: $grey;
        font-size: $font-size-x-large + 2;
        font-weight: $font-weight--normal;
      }
    }
  }
  @media all and (max-width: 719px) {
    ul {
      li {
        flex-basis: 50%;
        &:nth-child(1),
        &:nth-child(2) {
          border-bottom: 1px solid #ccc;
        }
        &:nth-child(even) {
          border-right: none;
        }
      }
    }
  }
}