.catalogue {
  box-sizing: border-box;
  @extend .grid-size9of12;
  @extend %clear;
  @extend %layout-pushLeft;
  .item-list--catalogue {
    @extend .item-list;
    @extend .grid-size12of12;
    @extend %clear;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    li {
      margin-bottom: 60px;
      min-width: 0px;
      a {
        display: block;
      }
      @media all and (max-width: 479px) {
        flex: 0 0 50%;
      }

      @media all and (min-width: 480px) and (max-width: 719px) {
        flex: 0 0 33.3%;
      }

      @media all and (min-width: 720px) and (max-width: 1023px) {
        flex: 0 0 33.3%;
      }

      @media all and (min-width: 1024px) {
        flex: 0 0 25%;
      }
    }
    // @media all and (min-width:1024px) {
    //   box-sizing:border-box;
    //   width:100%;
    //   padding-right: 251px;
    //   margin-right:-251px;
    // }
  }
  @media all and (max-width:719px) {
    width:100%;
  }
}

.pagination {
  text-align: center;
  &__bottom {
    @extend %layout-pushLeft;
    width: 100%;
  }
  li {
    display: inline-block;
    color: $light-grey;
    line-height: 1.2em;
    @extend %font-size-large;

    #currentPage {
      color: $posh-color;
      margin: 0 2px;
    }
    a {
      cursor: pointer;
      color: $light-grey;
      margin: 0 2px;
      &:hover { text-decoration: underline; }
    }
  }
  
  @media screen and (max-width: 719px) {
    margin: 30px 0;
    li {
      font-size: $font-size-x-large;
    }
  }
}