.listing-clndr{
  box-sizing: border-box;
  @extend %layout-sidePadding10;
  @extend %layout-pushLeft;
  @extend .grid-size6of12;
  @media all and (max-width: 479px) {
    width: 100%;
    margin-bottom: 20px;
  }
}
#info-calendar-box-outer{
  box-sizing: border-box;
  @extend %layout-sidePadding10;
  @extend %layout-pushRight;
  @extend .grid-size6of12;
  @media all and (max-width: 479px) {
    width: 100%;
  }
  & h1{
    padding: 0;
    margin:0 0 10px 0;
  }
  & h3{
    font-size: 14px;
  }
  & textarea {
    font-size: 12px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    max-height: 94px; /* optional, but recommended */
    min-height: 31px;
    overflow-x: hidden; /* for Firefox (issue #5) */
    &:not(.editable) {
      border: none;
      box-shadow: none;
      resize: none;
      font-style: italic;
    }
    &.error {
      border: 1px solid red;
    }
  }
  & li {
    display: block;
    position: relative;
    &:not(:last-child){
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    & .user{
      padding: 10px 0 0 0
    }
  }
  & button.save,
  & button.edit,
  & button.delete {
    display: inline-block;
    width: auto;
  }
}
#info-calendar-box{
}
.item-clndr{
  margin-top: 20px;
  p {
    margin-bottom: 10px;
  }
}
.cal1 {

  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  font-size: 12px;
  font-size: 1.7vmin;
  @media all and (max-width: 479px) {
    font-size: 13px;
    font-size: 3vmin;
  }
  & .clndr {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  & .clndr-controls{
    padding: 5%;
    color: #8264a6;
    height: 5%;
  }
  & .clndr-table{
    height: 85%;
    & thead td{
      padding-bottom: 5%;
      box-sizing: border-box;
    }
  }
}
.cal1 .clndr .clndr-controls .month {
  float: left;
  width: 33%;
  text-transform: uppercase;
  text-align: center;
}
.cal1 .clndr .clndr-controls .clndr-control-button {
  float: left;
  width: 33%;
}
.cal1 .clndr .clndr-controls .clndr-control-button.rightalign {
  text-align: right;
  width: 34%;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
  text-decoration: underline;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive {
  opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
  text-decoration: underline;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive {
  opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal1 .clndr .clndr-table {
  table-layout: fixed;
  width: 100%;
}
.cal1 .clndr .clndr-table .header-days {
}
.cal1 .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  color: #8264a6;
}
.cal1 .clndr .clndr-table tr td {
  vertical-align: top;
}
.cal1 .clndr .clndr-table tr .day {
  border: 1px solid #c0afb8;
  color: #212158;
  cursor: default;
  vertical-align: middle;
  width: 100%;
  height: inherit;
  &:first-child {
    border-left: none;
  }
  &:last-child {
    border-right: none;
  }
}
.cal1 .clndr .clndr-table tr .day.hovered {
  background: #c0afb8;
}
.cal1 .clndr .clndr-table tr .day.past {
  background: #f2f2f2;
  color: #797979;
}
.cal1 .clndr .clndr-table tr .day.today,
.cal1 .clndr .clndr-table tr .day.my-today {
  color: #000;
  text-decoration: underline;
}
.cal1 .clndr .clndr-table tr .day.event,
.cal1 .clndr .clndr-table tr .day.my-event {
  background: #826072;
  color: #fff;
}
.cal1 .clndr .clndr-table tr .day.event.delivery-day,
.cal1 .clndr .clndr-table tr .day.my-event.delivery-day {
  text-decoration: line-through;
  background: #f2f2f2;
  color: #797979;
}
.cal1 .clndr .clndr-table tr .day.event.reserved,
.cal1 .clndr .clndr-table tr .day.my-event.reserved {
  background: #c0afb8;
  // background: #f2f2f2;
  // color: #797979;
  // text-decoration: line-through;
}
.cal1 .clndr .clndr-table tr .day.event.ordered,
.cal1 .clndr .clndr-table tr .day.my-event.ordered,
.cal1 .clndr .clndr-table tr .day.weekend {
  background: #f2f2f2;
  color: #797979;
  text-decoration: line-through;
}
.cal1 .clndr .clndr-table tr .day.inactive,
.cal1 .clndr .clndr-table tr .day.my-inactive {
  background: #ddd;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
  text-align: center;
}

.cal1 .clndr .clndr-table tr .day.event.reserved.first,
.cal1 .clndr .clndr-table tr .day.my-event.reserved.first {
  position: relative;
  &:before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 1px;
    left: 1px;
    background-color: $white;
  }
}
.cal1 .clndr .clndr-table tr .day.event.reserved.last,
.cal1 .clndr .clndr-table tr .day.my-event.reserved.last {
  position: relative;
  &:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: 1px;
    right: 1px;
    background-color: $white;
  }
}

// .cal1 .clndr .clndr-table tr td:not(.reserved) + .day.event.reserved, 
// .cal1 .clndr .clndr-table tr td:not(.reserved) + .day.event.reserved {
//   background: #c8ac68;
// }


#calendar-box {
  .date-range { display: none; }
}