.contact {
  padding: 0 0 10px;
  &__title {
    margin-top: 40px;
  }
  form {
    display: block;
    max-width: 450px;
    margin: auto;
    input[type="text"], textarea {
      @extend %font-size-normal;
      @extend .grid-size12of12;
      margin-bottom: 20px;
    }

    textarea {
      box-sizing: border-box;
      resize: none;
      min-height: 90px;
      @extend %heading;
      @extend %font-size-large;
    }
    .button {
      max-width: 220px;
      margin: auto
    }
  }

  &__links {
    max-width: 720px;
    margin: auto;
    li {
      font-size: 20px;
      line-height: 1.5em;
      padding: 20px;
      border-bottom: 1px solid rgba($light-grey, 0.5);
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      p {
        margin: 0;
        padding: 0;
        display: inline-block;
        float: auto;
        font-weight: $font-weight--light;
      }

      a {
        float: auto;
        font-size: 24px;
        @extend %heading;
        @extend %link--darkBrownToBrown;
        @extend %transition;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 2px;
          opacity: 0;
          background: $dark-brown;
          @extend %transition;
        }
        &:hover {
          &:after {
            width: 100%;
            left: 0;
            opacity: 1;
            background: $brown;
          }
        }
      }
    }
  }

  @media all and (min-width: 720px) and (max-width: 1023px) {
    &__links {
      max-width: 90%;

      li {
        font-size: $font-size-x-large + 2;
        padding: 20px 0;

        &:last-child {
          border-bottom: none;
        }

        a {
          font-size: 22px;
        }
      }
    }
  }

  @media all and (max-width: 719px) {
    padding: 0;
    &__title {
      margin-top: 20px;
    }

    &__links {
      max-width: 80%;

      li {
        font-size: $font-size-large;
        text-align: center;
        padding: 15px 0;
        flex-wrap: wrap;

        &:last-child {
          border-bottom: none;
        }

        p {
          display: block;
          flex: 100%;
        }

        a {
          display: inline-block;
          flex: 100%;
          font-size: $font-size-x-large;
        }
      }
    }
  }
}