.designer-page {
  max-width: 1024px;
  margin: auto;

  .alphabet-designers {
    text-align: center;
    li {
      display: inline-block;
      vertical-align: top;
      a {
        display: block;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        color: $black;
        font-size: $font-size-x-large;
        font-weight: $font-weight--bold;
        line-height: 1em;
        &:hover { text-decoration: underline; }
      }
      span {
        @extend a;
        color: $light-grey;
        &:hover { text-decoration: none; }
      }
    }
  }

  .designers {
    max-width: 720px;
    margin: auto;
    padding: 0 30px;
    .letter {
      margin-top: 80px;
      h2 {
        text-transform: uppercase;
        font-size: $font-size-xx-large;
        line-height: 1em;
        margin-bottom: 20px;
        color: $grey;
      }
      li {
        .designer-name {
          display: block;
          text-align: left;
          color: $black;
          font-size: $font-size-normal;
          padding: 3px 0;
          &:hover { text-decoration: underline; }
        }
      }
    }
    &__list {
      column-count: 3;
      column-gap: 0;
      width: 100%;
      li {
        display: block;
        a {
          padding-right: 10px;
        }
      }
    }
  }
  
  @media all and (min-width: 480px) and (max-width: 720px) {
    .designers {
      &__list {
        column-count: 2;
      }
    }
  }
  @media all and (max-width: 480px) {
    .designers {
      &__list {
        column-count: 1;
        li {
          .designer-name {
            font-size: $font-size-large;
          }
        }
      }
    }
  }
}