.faq {
  margin: 0 auto 90px;
  &__title {
    padding: 55px 0;
    background: url('../img/faq_title.png') center center no-repeat;
    background-size: cover;
    h1 {
      margin-right: 60px;
      text-align: right;
      text-transform: uppercase;
      font-family: $font-family--primary;
      font-size: 95px;
      line-height: 1em;
      font-weight: $font-weight--ultralight;
      font-style: normal;
      color: $white;
    }
  }
  &__tabs {
    margin: 60px auto 100px;
    li {
      box-sizing: border-box;
      h2 {
        padding: 5px 35px 3px;
        color: #bcbcbc;
        font-size: 24px;
        line-height: 1em;
        cursor: pointer;
        @extend %heading;
        &.active, &:hover {
          color: $posh-color;
        }
      }
      &:first-child {
        text-align: right;
        border-right: 1px solid #bcbcbc;
      }
    }
  }
  &__page {
    display: none;
    @extend %clear;
    &__text {
      box-sizing: border-box;
      @extend %layout-pushLeft, %clear, .grid-size6of12;
    }
    &__img {
      box-sizing: border-box;
      @extend %layout-pushLeft, %clear, .grid-size6of12;
      position: relative;
      img {
        max-width: 100%;
      }
      &--renters {
        padding-left: 40px;
        img {
          @extend %layout-pushRight;
        }
      }
      &--lenders {
        padding-right: 40px;
        img {
          @extend %layout-pushLeft;
        }
      }
      &__title {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 70px);
        height: 100%;
        z-index: 1;
        color: $posh-color;
        font-family: $font-family--secondary;
        font-size: 36px;
        line-height: 1.5em;
        padding: calc(50% - 125px) 70px 0;
      }
    }
    &:first-child { display: block; }
    &--renters {
      padding-right: 40px;
    }
    &--lenders {
      padding-left: 40px;
    }
  }
  &__line {
    h4 {
      color: #231f20;
      text-transform: uppercase;
      font-size: $font-size-large;
      line-height: 1.1em;
      font-weight: $font-weight--light;
      cursor: pointer;
      margin-bottom: 60px;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      display: none;
      margin: -30px 0 30px 30px;
      color: #888;
      font-size: $font-size-large;
      line-height: 1.5em;
      font-weight: $font-weight--light;
      a {
        color: $posh-color;
        &:hover { text-decoration: underline; }
      }
    }
    h5 {
      text-transform: uppercase;
      font-size: $font-size-large;
      line-height: 1.1em;
      font-weight: $font-weight--light;
      color: #929292;
      margin-top: -60px;
    }
    &:last-child {
      p { margin-bottom: 0; }
    }
  }

  @media all and (min-width: 720px) and (max-width: 1023px) {
    &__page__img__title {
      width: calc(100% - 40px);
      font-size: 24px;
      padding: calc(50% - 75px) 30px 0;
    }
    &__page__text {
      h4, h5 {
        font-size: $font-size-normal;
      }
    }
  }
  @media all and (min-width: 620px) and (max-width: 719px) {
    &__page__img__title {
      width: calc(100% - 40px);
      font-size: 20px;
      padding: calc(50% - 75px) 30px 0;
    }
    &__page__text {
      h4, h5 {
        font-size: $font-size-normal;
      }
    }
  }
  @media all and (min-width: 480px) and (max-width: 619px) {
    &__page__img__title {
      width: calc(100% - 40px);
      font-size: $font-size-x-large;
      padding: calc(50% - 75px) 15px 0;
    }
    &__page__text {
      h4, h5 {
        font-size: $font-size-normal;
      }
    }
  }
  @media all and (max-width: 479px) {
    &__title {
      h1 {
        margin-right: 0;
        text-align: center;
      }
    }
    &__page__img {
      display: none
    }
    &__page__text {
      width: 100%;
      padding: 0;
      h4 {
        font-size: $font-size-normal;
      }
      h4 {
        margin-bottom: 30px;
      }
      h5 {
        font-size: $font-size-normal;
        margin-top: -30px;
      }
      p {
        margin: -15px 0 15px 15px;
      }
    }
  }
}