.filter {
  box-sizing:border-box;
  padding:10px;
  @extend %layout-pushRight;
  @extend .grid-size3of12;
  position: relative;
  transition: all .2s linear;
  animation: .1s hack infinite;

  .pagination {
    @extend %display--desktop-only;
    margin-bottom: 30px;
  }

  > ul {
    text-align: center;
  }

  &__wrapper {
    position:relative;
    box-shadow: 0 0 20px rgba($grey,0.5);
    margin-bottom: 30px;


    > ul > li {
      position:relative;
      .filter__header {
        @extend .grid-size12of12;
        cursor:pointer;
        box-sizing:border-box;
        padding: 10px;
        padding-right:30px;
        &:after {
          position:absolute;
          top:10px;
          right:10px;
          content:'+';
        }
        display: block;
        @extend %font-all-caps;
        @extend %overflow-ellipsis;
        @extend %font-size-large;

        &--checked {
          @extend %overflow-ellipsis;
          text-transform: none;
          letter-spacing: 0;
          font-style: italic;
          @extend %font-size-small;
        }
      }

      background:linear-gradient(-180deg, #FAFAFA 0%, #EDEDED 100%);
      &.open {
        background:linear-gradient(-180deg, rgb(230, 230, 230) 0%, rgb(242, 242, 242) 100%);
        .filter__header:after {
          content:'-';
        }
        .filter__header--checked {
          display: none;
        }

      }
    }
  }






  
  
  &__dropdown {
    @extend %font-size-small;
    @extend %clear;
    display: none;
    padding: 10px;
    max-height: 196px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 0;

    .checkbox-list {
      > li {
        padding-top: 10px;
      }
    }
    .toggle {
      label {
        padding: 5px 0;
      }
      .toggle__dropdown {
        li {
          padding-top:10px;
        }
      }
    }

    .vertical-list {
      li {
        padding:5px 0;
        @extend %font-size-normal;
        &:first-child {
          padding-top:0;
        }
        &:last-child {
          padding-bottom:0;
        }
      }
    }
  }

  &__one-option {
    margin: 0 -10px -10px;
    input[type=radio] {
      display: none;
      & + label {
        cursor:pointer;
        @extend %font-all-caps;
        display: block;
        box-sizing:border-box;
        padding: 10px 10px;
        @extend .grid-size12of12;
      }
      &:checked + label {
        background-image:linear-gradient(to bottom, #d9d9d9 0%,#e6e6e6 33%,#e6e6e6 67%,#d9d9d9 100%);
        color:$light-grey;
      }
      &:not(:checked) + label:hover {
        background-image:linear-gradient(to bottom, lighten(#d9d9d9,5) 0%,lighten(#e6e6e6,5) 33%,lighten(#e6e6e6,5) 67%,lighten(#d9d9d9,5) 100%);
        
      } 
    }
  }

  &__color {
    padding-top: 15px;
    .colors-view li a label { display: none; }
    @media all and (min-width: 480px) {
      .colors-view {
        padding: 0 calc(50% - 105px);
        li {
          margin: 0 6px 6px 0;
          a {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  &__zip {
    label {
      display: block;
      padding-bottom: 5px;
      @extend .grid-size12of12;
      @extend %font-size-normal;
    }
    .input-button {
      @extend .grid-size6of12;
    }
  }

  &__prices {
    &:after {
      content: ' ';
      display: table;
      clear: both;
    }
    margin: 3px 0 8px;
    input {
      float: left;
      width: 25%;
      @extend %font-size-normal;
    }
    span {
      float: left;
      margin: 0 3px;
      @extend %font-size-normal;
      padding: 6px 0;
    }
    .button {
      float: right;
      width: 25%;
      @extend %font-size-normal;
      padding: 5px 0;
      background-color: transparent;
      border: 1px solid $posh-color;
      color: $posh-color;
      &:hover {
        background-color: $posh-color;
        color: $white;
      }
    }
  }

  &__date {
    .input-button {
      &__button {
        right: 4px;
      }
    }
  }

  // &__price {
  //  display: table;
  //  &__heading {
  //    display: table-row;

  //    &__element {
  //      display: table-cell;
  //      width:33.3%;
  //      box-sizing:border-box;
  //      padding-bottom:5px;
  //      padding-right:20px;
  //      input {
  //        box-sizing:border-box;
  //        width: 100%;
  //      }
  //    }
  //  }
  // }

  @media all and (max-width:719px) {
    position:fixed;
    padding:0;
    top:0;
    right:-250px;
    height:100%;
    background: #ebebeb;
    width: 250px;
    height:100%;
    overflow-x: scroll;

  }

  @media all and (min-width:1024px) {
    width: 251px;
  }
}