.followers {
	&__user {
		&:not(:first-child) {
			margin-top: 40px;
		}
		@extend %layout-maxwidth720;
		font-size: 0;
		&-details {
			box-sizing:border-box;
			display:inline-block;
			vertical-align:middle;
			@extend %layout-sidePadding10;
			@extend %font-size-normal;
			.user__name {
				@extend %font-size-large;
			}
			.user__location {
				margin-top: 10px;
			}
			width:calc(75% - 80px);
		}
		&-button {
			box-sizing:border-box;
			display:inline-block;
			vertical-align:middle;
			@extend %layout-sidePadding10;
			width:25%;
		}
	}
	&__img {
		box-sizing:border-box;
		@extend %layout-sidePadding10;
		vertical-align: middle;
		width:80px;
		display: inline-block;
		img {
			@extend %round-image, .grid-size12of12;
		}
	}

	&__status {
		display: none;
		& + label:before {
			cursor:pointer;
			@extend .button;
			@extend .button--posh;
			@extend .button--small;
			content:"Follow";
		} 
		
		&:checked + label:before {
			content:'Following';
			background:	$posh-color;
			color:white;
		}
	}
}