.footer {
  padding: 60px 0;
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  a {
    @extend %link--greyToPosh;
  }
  &__links {
    @extend %layout-pushLeft;
    @extend .grid-size4of12;
    line-height: 1.5;
    box-sizing: border-box;
    ul.horizontal-list--flex {
      justify-content: space-between;
      li {
        flex: 0 0 45%;
        a {
          text-transform: uppercase;
          @extend %link--darkBrownToBrown;
          font-size: $font-size-small;
          letter-spacing: 1px;
        }
      }
    }
    
    @media all and (max-width:1023px) {
      display: none;
    }
  }

  &__contact {
    @extend %layout-pushLeft;
    @extend .grid-size4of12;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.5;
    // background:blue;
    p {
      font-size: $font-size-normal;
      line-height: 1.5em;
      text-transform: uppercase;
      color: $black;
      letter-spacing: 2px;
      span { text-transform: none; }
    }
    @media all and (max-width:1023px) {
      width: 100%;
      margin-bottom: 20px;
      p {
        font-size: $font-size-large;
        letter-spacing: 0;
      }
    }
  }

  &__signUp {
    box-sizing: border-box;
    min-height: 1px;
    @extend %layout-pushLeft;
    @extend .grid-size2of12;
    p {
      color: $dark-brown;
      text-transform: uppercase;
      font-size: $font-size-small;
      line-height: 1.3em;
    }
    .signUp {
      margin-top: 10px;
      li {
        &:first-child {
          padding-left: 0;
          padding-right: 0;
          width: calc(80% - 10px);
        }
        &:last-child {
          padding-right: 0;
          width: 20%;
        }
        input[type="text"] {
          width: 100%;
          height: 20px;
          padding: 5px;
          font-size: $font-size-small;
          text-transform: uppercase;
          color: $dark-brown;
          border: 1px solid $dark-brown;
          &::-webkit-input-placeholder {
            color: $dark-brown;
          }
          &:-moz-placeholder {
            color: $dark-brown;
          }
          &::-moz-placeholder {
            color: $dark-brown;
          }
          &:-ms-input-placeholder {
            color: $dark-brown;
          }
        }
        .button {
          width: 100%;
          height: 20px;
          padding: 4px 0 6px;
          text-transform: uppercase;
          font-size: $font-size-small;
        }
      }
      &__info {
        display: none;
        text-transform: none;
        margin-top: 10px;
        font-size: $font-size-large;
        @extend %heading;
      }
    }
    @media all and (max-width:1023px) {
      width: 60%;
      margin-left: 20%;
      margin-bottom: 20px;
      p {
        display: none;
      }
      .signUp__info {
        font-size: $font-size-large;
        text-align: center;
      }
    }
    @media all and (min-width: 720px) and (max-width: 1023px) {
      width: 30%;
      margin-left: 35%;
    }
  }

  &__social {
    box-sizing: border-box;
    @extend %layout-pushLeft;
    @extend .grid-size2of12;
    margin-top: 36px;
    text-align: right;
    ul {
      display: inline-block;
      li {
        padding: 0 5px;
        a {
          @xtend %link--darkBrownToBrown;
        }
      }
    }
    @media all and (max-width:1023px) {
      margin-top: 0;
      width: 100%;
      text-align: center;
    }
  }

  &__copy {
    box-sizing: border-box;
    padding: 10px;
    @extend %layout-pushLeft;
    @extend .grid-size9of12;
    // background:orange;
    @media all and (min-width: 480px) and (max-width: 719px) {
      width: 50%;
    }
    @media all and (max-width: 479px) {
      width: 33.33333%;
    }
  }
  @media all and (max-width: 480px) {
    padding-bottom: 30px;
  }
}