.form_720 {
  font-size: 0;
  @extend %layout-maxwidth720;
  animation: .1s hack infinite;
  
  .fits {
    margin-left: -10px;
    margin-right: -10px;
    @media all and (max-width: 480px) {
      label { margin-bottom: 10px; }
    }
  }

  .delivery-method {
    margin-top: 40px !important;
  }
  input[type="text"], input[type="file"], textarea, select {
    @extend %font-size-normal;
    @extend .grid-size12of12;
    vertical-align: middle;
  }

  textarea {
    box-sizing: border-box;
    vertical-align: middle;
    resize: none;
    @extend %heading;
    @extend %font-size-large;
  }
  label {
    color: $light-grey;
  }

  .zip-addr-box {
    vertical-align: top;
  }

  .zip-addr-box select,
  .city-state-box {
    display: none;
  }

  .two_column {
    width: 50%;
    float: left;
    .form_element {
      & > label {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        width: 33.333%;
        font-size: 12px;
        @media all and (max-width: 479px) {
          text-align: left;
          width: 100%;
          margin-bottom: 5px;
        }
      }
    }
  }

  .two_column_left, .two_column_right {
    width: 50%;
    vertical-align: middle;

    .form_element {
      & > label {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        width: 33.333%;
        font-size: 12px;
        @media all and (max-width: 479px) {
          text-align: left;
          width: 100%;
          margin-bottom: 5px;
        }
      }
    }

    @media all and (max-width:479px) {
      vertical-align: top;
    }
  }
  .two_column_right {
    &.move-top {
      vertical-align: top;
    }
    label {
      text-align: right;
    }
    .form_element {
        .settings_image {
          max-width: 100px;
          position:relative;
          &:hover {
            .grid_photo_delete {
              z-index: 1;
              opacity: 1;
            }
          }
          img {
            cursor:pointer;
            @extend .grid-size12of12;
            border-radius: 100%;
            vertical-align: middle;
          }
          .loader {
            position: absolute;
            background-size: 50%;
          }
          &__control {
            cursor:pointer;
            position:absolute;
            left:50%;
            top:50%;
            transform: translate(-50%, -50%);
            color:#fff;
            font-size: 12px;
            @extend %font-all-caps;
            background:rgba(0,0,0,0.25);
            padding:5px;
          }
        }
    }
  }
  .form_element {
    &:not(:first-child) {
      margin-top: 20px;
    }
    & > label {
      vertical-align: middle;
      box-sizing: border-box;
      display: inline-block;
      width: 16.666%;
      @extend %font-size-normal;
      padding:0 10px;
      @media all and (max-width: 479px) {
        text-align: left;
        width: 100%;
        margin-bottom: 5px;
        padding: 10px;
      }
    }

    label {
      vertical-align: middle;
      box-sizing: border-box;
      display: inline-block;
      @extend %font-size-normal;
    }

    .error {
      font-size: 12px;
      padding-top: 5px;
      color: $error-color;
    }
    input[type="checkbox"] + label,
    input[type="radio"] + label {
      padding-left: 5px;
      vertical-align: baseline;
    }
    .toggle__dropdown {
      padding-top: 10px;
      label {
        width:auto;
        vertical-align: baseline;
      }
    }
    .message {
      color: #30c061;
      font-size: 12px;
      padding-top: 5px;
    }

    &#bridesmaid_list {
      margin-top: 50px;
      display: none;
    }
  }
  .toggle label {
    @extend %font-size-normal;
    padding:5px;
  }

  legend {
    box-sizing: border-box;
    font-size: 16px;
    margin-left: 16.666%;
    width: 66.666%;
    padding: 0 10px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  fieldset {
    & + fieldset {
      margin-top: 40px;
    }
    legend + .form_element {
      margin-top: 0 !important;
    }

    legend i {
      display: block;
      line-height: 1.5;
      font-size: 14px;
      font-weight: normal;
      font-style: italic;
    }
  }

  .new_data {
    display: none;
    .form_element {
      &:first-child {
        margin-top: 20px;
      }
    }
    .two_column_left, .two_column_right {
      .form_element {
        margin-top: 0;
      }
    }
  }

  .form_720_margindef {
    display: block;
    margin-top: 20px;
    padding: 0 10px;
    margin-left: 16.666%;
    margin-right: 16.666%;
    position: relative;
    @extend %clear;
      & > label {
        display: inline-block;
        vertical-align: baseline;
        font-size: 12px;
        width: auto;
        padding: 0;
      }
    @media all and (max-width:479px) {
      margin-left: 0;
      margin-right: 0;
      label {
        i {
          font-size: 10px;
        }
      }
    }
  }


  .form_sub_element {
    box-sizing: border-box;
    padding-left: 16.666%;
    padding-right: 16.666%;
    width: 100%;
    margin-top: 10px;
    clear: left;
    @media all and (max-width:479px) {
      padding-left: 0;
      padding-right:0;
    }
  }

}


#rental-box {
  input[type='checkbox'] + label {
    vertical-align: top;
  }
  .error {
    display: block;
    margin: 20px 0 0 16.666%;
    width: auto;
  }
}





.form_sub_element:last-child {
  margin-bottom: 30px;
}


.form_btn_box {
  box-sizing: border-box;
  width: 66.666%;
  padding: 0 10px;
  margin-left: 16.666%;
}

.form_btn_box button,
.form_btn_box button[disabled]:hover {
  border: 1px solid #826072;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  margin-top: 20px;
  width: 100%;
  color: #826072;
  padding: 5px 0;
}

.form_btn_box button:hover {
  background-color: #826072;
  color: #fff;
}


.form_save_btn {
  width: 280px;
  margin: 0 auto;
  margin-top: 60px;
}

.form_save_btn input {
  border-radius: 0;
  cursor: pointer;
  background: none;
  @extend %font-size-x-small;
  padding: 5px;
  @extend .button, .button--posh, .button--small;
}

.form_save_btn input[disabled],
.form_btn_box button[disabled] {
  opacity: 0.75;
}

.form_btn_box button[disabled],
.form_btn_box button[disabled]:hover,
.form_save_btn input[disabled] {
  cursor: default;
}

.form_720_margindef + .form_same_address {
  margin-left: 16.666%;
  margin-top: 5px;
}

.form_720_margindef + .form_same_address p {
  font-size: 16px;
}

.disabled {
  opacity: 0.25;
  cursor: default;
}

.grid_6_1,
.grid_6_2,
.grid_6_2-5,
.grid_6_3,
.grid_6_4,
.grid_6_5,
.grid6_6,
.grid_photo {
  box-sizing: border-box;
  display: inline-block;
  @extend %layout-sidePadding10;
  margin: 0;
}

.grid_6_1 {
  @extend .grid-size2of12;
}

.grid_6_2 {
  @extend .grid-size4of12;
}

.grid_6_2-5 {
  @extend .grid-size5of12;
}

.grid_6_3 {
  @extend .grid-size6of12;
}

.grid_6_4 {
  @extend .grid-size8of12;
  vertical-align: middle;
}

.grid_6_5 {
  @extend .grid-size9of12;
}

.grid_6_6 {
  @extend .grid-size12of12;
}

.grid_photo {
  width: 13.333%;
  vertical-align: middle;
  position: relative;
  img {
    width: 100%;
  }
  .loader {
    position: absolute;
    background-size: 50%;
  }
}

.two_column_left,
.two_column_right {
  display: inline-block;
}

.grid_6_4 + .form_720_margindef {
//  margin-top:20px;
}

.form_720_margindef + .form_720_margindef {
//  margin-top:10px;
}


@media all and (max-width: 479px) {
  .form_720 .two_column_left .grid_6_4 {
    width: 100%;
  }
  .grid_photo {
    width: 20%;
  }
  .form_720 .form_element .grid_6_1 {
    width: 25%;
  }
  .form_720 .grid_6_2 {
    width: 50%;
  }
  .form_720 .form_element .grid_6_3 {
    width: 75%;
  }
  .form_720 .grid_6_4 {
    width: 100%;
  }
  .form_720 legend {
    box-sizing: border-box;
    margin-left: 0;
    width: 100%;
  }
  .form_720_margindef {
    margin-left: 0;
    margin-right: 0;
  }
  .form_720_margindef + .form_same_address {
    margin-left: 0;
  }
  .form_add_another_address {
    width: 100%;
    margin-left: 0;
  }
}

#sub-category-box select,
#param-box > .param {
  @extend %hide;
}


// Colors View

// colors for colors view

.black        { background-color: $black; }
.white        { background-color: $white; }
.neutrals     { background-color: #f7e7d5; }
.tan          { background-color: #d4ab7d; }
.gray         { background-color: #929699; }
.silver       { background: url('../img/color-filter-silver.png') center center no-repeat; background-size: cover; }
.red          { background-color: #f42a24; }
.pink         { background-color: #f75ca9; }
.brown        { background-color: #4c3417; }
.metallic     { background: url('../img/color-filter-metallic.png') center center no-repeat; background-size: cover; }
.orange       { background-color: #ff5e00; }
.yellow       { background-color: #ffd300; }
.gold         { background: url('../img/color-filter-gold.png') center center no-repeat; background-size: cover; }
.green        { background-color: #458c3a; }
.blue         { background-color: #1c329d; }
.purple       { background-color: #96499f; }
.multicolored, .multipattern  { background: url('../img/color-filter-multicolored.png') center center no-repeat; background-size: cover; }
.animal       { background: url('../img/color-filter-animal.png') center center no-repeat; background-size: cover; }
.burgundy     { background-color: #670033; }


.colors-view {
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
  li {
    float: left;
    margin: 0 4px 4px 0;
    a {
      display: block;
      cursor: pointer;
      margin: auto;
      width: 26px;
      height: 26px;
      transition: all .2s ease;
      &:hover,
      &:active,
      &.active { box-shadow: 0 0 0 1px $white, 0 0 0 2px $posh-color; }
      input {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
      }
    }
  }
  @media all and (max-width: 480px) {
    padding: 0 calc(50% - 150px);
  }
  @media all and (min-width: 480px) and (max-width: 720px) {
    padding: 0 calc(50% - 180px);
  }
  @media all and (min-width: 720px) {
    padding: 0 calc(50% - 210px);
  }
}


.grid_photo {
  position: relative;
  &_delete {
    cursor: pointer;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    right: 12px;
    opacity: 0;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDoAABSCAABFVgAADqXAAAXb9daH5AAAAEBSURBVHjapNO9SgNBFAXgL4OloE+QN7BShMBuo+gDiI2CtuIf2NiJjZY2omBpEdDOVhAkxUICgk3eIL6BQnqbWRjjrknwlGfOPTPnzr2NbpYZwTK2sYJm5D7wike8peJGYjCLK+z5G3c4xRBCJOfxNEEx7EftXGpwiTWTYx0XpcESDsuTVlFoFcWvigr+GIsBu1VXpOIqw4idRjfL+lioK07Ry/NRqh+Sr/pLWMmhGfwTIQ6JcRFqYg0COnXCXp7/eHqFSSegPa5hNfmhXY7yDY6mjH+Nk7KJZ3iZovgZ5+kof2IjLso43GITXzCTHAxxgHtsYTWZkUFc5we8p27fAwB2MEJmSY0b3wAAAABJRU5ErkJggg==') center center no-repeat;
    z-index: -1;
    transition: all .2s linear;
  }
  &:hover {
    .grid_photo_delete {
      z-index: 1;
      opacity: 1;
    }
  }
}



.ms-parent {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.ms-choice {
    display: block;
    width: 100%;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    padding: 5px;
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #ccc;

    background-image: url(../img/selectarrow.png), linear-gradient(-180deg, #FAFAFA 0%, #EDEDED 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: right 5px center, top left;

    color:#999;
    cursor: pointer;
    outline: none;
}

.ms-choice.disabled {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.ms-choice > span {
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-left: 8px;
}

.ms-choice > span.placeholder {
    color: #999;
}

.ms-choice > div {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 25px;
    // background: url('multiple-select.png') left top no-repeat;
}

.ms-choice > div.open {
    // background: url('multiple-select.png') right top no-repeat;
}

.ms-drop {
    width: 100%;
    overflow: hidden;
    display: none;
    margin-top: -1px;
    padding: 0;
    position: absolute;
    z-index: 1000;
    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ms-drop.bottom {
    top: 100%;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.ms-drop.top {
    bottom: 100%;
    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.ms-search {
    display: inline-block;
    margin: 0;
    min-height: 26px;
    padding: 4px;
    position: relative;
    white-space: nowrap;
    width: 100%;
    z-index: 10000;
}

.ms-search input {
    width: 100%;
    height: auto !important;
    min-height: 24px;
    padding: 0 20px 0 5px;
    margin: 0;
    outline: 0;
    font-family: sans-serif;
    font-size: 1em;
    border: 1px solid #aaa;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    // background: #fff url('multiple-select.png') no-repeat 100% -22px;
    // background: url('multiple-select.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    // background: url('multiple-select.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    // background: url('multiple-select.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    // background: url('multiple-select.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    // background: url('multiple-select.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    // background: url('multiple-select.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.ms-search, .ms-search input {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.ms-drop ul {
    overflow: auto;
    margin: 0;
    padding: 5px 8px;
}

.ms-drop ul > li {
    list-style: none;
    display: list-item;
    background-image: none;
    position: static;
    display: block;
    width: 100%;
    margin: 5px 0;
}

.ms-drop ul > li .disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
}

.ms-drop ul > li.multiple {
    display: block;
    float: left;
}

.ms-drop ul > li.group {
    clear: both;
}

.ms-drop ul > li.multiple label {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ms-drop ul > li label {
    font-weight: normal;
    display: block;
    white-space: nowrap;
}

.ms-drop ul > li label.optgroup {
    font-weight: bold;
}

.ms-drop input[type="checkbox"] {
    vertical-align: middle;
}

.ms-drop .ms-no-results {
    display: none;
}
