.editorial {
	@extend %layout-maxwidth1024;
	 li {
	 	box-sizing:border-box;
	 	padding:10px;
		img {
			@extend .grid-size12of12;
		}
		ul li {
			&:first-child {
				padding-top:0;
			}
			&:last-child {
				padding-bottom:0;
			}
		}
	}
}


