.lightbox {
  visibility: hidden;
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .25);
  opacity: 0;
  z-index: 2;
  transition: all .2s linear;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.image-editor {
  position: fixed;
  // left:50%;
  // top:50%;
  z-index: 2;
	@media all and (max-width:719px) {
		box-sizing:border-box;
		width:100%;
		left:0;
		top:0;
	}
  &__content {
    transform: translateY(20%);
    transition: all .2s linear;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    position: relative;
    @media all and (max-width:719px) {
      box-sizing:border-box;
      padding: 40px;
    }
  }
  &--profile {
    .cropit-image-preview {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      overflow: hidden;
    }
  }
}

.crop-round.cropit-image-preview {
  box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.5);
  background-color: #f8f8f8;
  background-size: cover;
  width: 100px;
  margin: 0 auto;
  height: 100px;
  cursor: move;
  border-radius: 100%;
}

.crop-buttons {
  @extend %clear;
}
.crop-rotate {
  button {
    width:auto;
    display: inline-block;
  }
  float: right;
  vertical-align: bottom;
  margin-top: 10px;
}

.crop-slider {
  button {
    width:auto;
    display: inline-block;
  }
  float: left;
  vertical-align: text-bottom;
  margin-top: 10px;
}

.cropit-image-preview {
  background-color: #f8f8f8;
  background-size: 100% 100%;
  width: 201.4257px;
  margin: 0 auto;
  height: 300px;
  cursor: move;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
}

.cropit-image-background {
  opacity: .2;
  cursor: auto;
}

input[type="range"] {
  width: 100%;
  display: block;
}      

.cropit-image-input {
  display: none;
  & + label {
    @extend .button, .button--small, .button--posh;
    margin-bottom: 20px;
  }
}

.crop-action {
  margin-top: 20px;
  &-wrapper {
    box-sizing:border-box;
    width:50%;
    @extend %layout-pushLeft;
    &:first-child {
      padding-right:10px;
    }
    &:last-child {
      padding-left:10px;
    }
  }
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}