.page-header--filter {
  position:relative;
  padding:0 20px;
  h1 {
    box-sizing:border-box;
    height: 100%;
    padding-left:25px;
    padding-right:25px;
  }
  .filter-button {
    cursor:pointer;
    height: 100%;
    position:absolute;
    top:0;
    right:20px;
    width:20px;
    @media all and (min-width:720px) {
      display: none;
    }
  }
}

.item-list {
  @extend .grid-size12of12;
  @extend %layout-pushLeft;
  @extend %clear;
  img {
    @extend .grid-size12of12;
    // display: block;
    &:last-child {
      display: none;
    }
    &:first-child {
      display: block;
    }
  }
  & &__img {
    // &--second {
    //  display: none;
    // }
  }
  &__details {
    position: relative;
    box-sizing:border-box;
    padding-top:10px;
    // padding-right: 21px;
    .name, .brand, .price {
      @extend %overflow-ellipsis;
    }
  }
  
  &__like {
    position: absolute;
    right:0;
    top:10px;
  }

  li {
    line-height:1.25;
    .brand, .name {
      @extend %font-size-large;
    }
    .brand {
      a {
        font-size: $font-size-normal;
      }
    }
    .retail {
      margin-left: 8px;
    }
    box-sizing:border-box;
    padding:10px;
    @extend .grid-size2of12;
    &:hover {
      // box-shadow:0 0 20px rgba(0,0,0,0.1);
      img {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: block;
        }
      }

      .item-list__img {
        // &--main {
        //  display: none;
        // }
        // &--second {
        //  display: block;
        // }
      }
    }
    @media all and (max-width:479px) {
      width:50%;
      .brand, .name {
        width: calc(100% - 21px);
        white-space: nowrap;
      }
    }
    @media all and (min-width:480px) and (max-width:719px) {
      width:33.3%;
    }
    @media all and (min-width:720px) and (max-width:1023px) {
      width:25%;
    }
    @media all and (min-width:1024px) and (max-width:1224px) {
      width:20%;
    }
  }

  &--listings {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    li {
      @media all and (max-width: 479px) {
        flex: 0 0 50%;
      }
      @media all and (min-width: 480px) and (max-width: 719px) {
        flex: 0 0 33.3%;
      }
      @media all and (min-width: 720px) {
        flex: 0 0 25%;
      }
    }
  }

  &--wishlist {
    @extend .item-list;
    @extend .grid-size12of12;
    li {
      @media all and (min-width:720px) and (max-width:1023px) {
        width:33.3%;
      }
      @media all and (min-width:1024px) and (max-width:1225px) {
        width:25%;
      }
      @media all and (min-width:1224px){
        width:25%;
      }
    }
  }

}