h1 {
  .brand, .name {
    display: block;
    line-height:1.25;
    font-size:24px;
  }
  .brand {
    font-family: $font-family--primary;
    font-style:normal;
  }
  .name {margin-top:12px;}
}


.item-page {
  font-size:0;
  @extend %layout-maxwidth1024;

  .image-wrapper {
    position: relative;
    width: 66.666%;
    display: inline-block;
    @media all and (max-width:479px) {
      width: 100%;
      display: inline-block;
    }
    @media all and (min-width:480px) and (max-width: 719px) {
      width: 58.333%;
      display: inline-block;
    }
    .social {
      width: 87.5%;
      float: right;
      margin-top: 10px;
      text-align: center;
      @media all and (max-width: 719px) {
        width: 100%;
      }
      li {
        margin:10px;
        a {
          @extend %link--greyToPosh;
        }
      }
    }
  }


  .image-slider {
    box-sizing:border-box;
    position: relative;
    width: 87.5%;
    border-left: 20px solid transparent;
    margin-right: 10px;
    float: right;
    overflow: hidden;
    white-space: nowrap;
    img {
      box-sizing:border-box;
      display: inline-block;
      width: 100%;
      transition: margin 400ms ease-out;
      &:first-child {
        margin-left: 0%;
        display: inline-block;
        width: 100%;
      }
    }
    input[type=radio]:first-child {
      margin-left: 0%;
      display: inline-block;
      width: 100%;
    }

    @media all and (max-width:479px) {
      width: 100%;
      margin: 0 auto;
      float:initial;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }

    @media all and (min-width:480px) and (max-width: 719px) {
      border-left: 10px solid transparent;
      border-right:10px solid transparent;
      width: 100%;
      margin: 0 auto;
      float:initial;
    }

    &__thumb {
      width: 12.5%;
      position: absolute;
      top: 0px;
      box-sizing: border-box;
      padding: 0 10px;
      input[type=radio] {
        display: none;
        @media all and (max-width:479px) {
          display: inline-block;
          margin:0 5px;
        }
      }

      img {
        &:not(:first-child) {
          margin-top: 10px;
        }
        &:first-child {
          border : 2px solid #826071;
        }
        display: block;
        box-sizing:border-box;
        width:100%;
        border : 2px solid transparent;
        &:hover {
          cursor: pointer;
        }

        @media all and (max-width:479px) {
          display: none;
        }
        @media all and (min-width:480px) and (max-width: 719px) {
          display: inline-block;
          box-sizing:border-box;
          border : 2px solid transparent;
          width:20%;
          &:hover {
            cursor: pointer;
          }
          &:first-child {
            border : 2px solid #826071;
          }
        }
      }

      @media all and (max-width:479px) {
        text-align: center;
      }

      @media all and (max-width: 719px) {
        width: 100%;
        margin-top: 20px;
        position: relative;
        top: 0px;
        box-sizing: border-box;
        padding: 0 10px;
      }
    }
  }

  &__details {
    vertical-align: top;
    font-size: 12px;
    width:33.333%;
    display:inline-block;
    box-sizing:border-box;
    padding:0 10px;
    position:relative;
    @media all and (max-width:479px) {
      margin-top: 20px;
      width: 100%;
    }
    @media all and (min-width:480px) and (max-width: 719px) {
      width:41.665%;
      display:inline-block;
      box-sizing:border-box;
      padding:0 10px;
    }
    .user {
      margin: 10px 0;
      @extend %clear;

      .reviews__stars {
        float: right;
      }
    }
    .retail {
      @extend %font-size-small;
    }
    
    .item-page__about {
      margin:10px 0;
      line-height: 1.5;

      &--bridesmaids {
        border: 1px solid #c0afb8;
        padding: 10px;
      }

      a {
        color: $dark-brown;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }


    .item-page__size {
      margin:20px 0;
    }
    .item-option {
      margin:20px 0;
      &__delivery-methods {
        display: none;
      }
    }

    .item-option__list {
      margin:5px 0;
      li:not(:first-child) {
        margin:10px 0;
      }
    }

    .item__add {
      display: none;
      margin-top:20px;
      border-radius: 0;
      cursor: pointer;
      background:none;
      @extend .button, .button--posh, .button--medium;
    }

    .item-list__like {
      top: 0;
    }

    .item-clndr {
      display: none;
      & > p {
        margin-bottom: 30px;
      }
      h4 {
        font-size: $font-size-large;
        line-height: 1.5em;
        text-align: center;
        text-transform: uppercase;
        color: #8264a6;
      }
      &__wrapper {
        border: 1px solid #c0afb8;
        padding: 10px 0;
      }
      &__info {
        margin-top: 20px;
        padding: 0 10px;
        li {
          .example-day {
            width: 20px;
            height: 20px;
            background-color: #c0afb8;
            position: relative;
            &:before {
              content: '';
              width: 5px;
              height: 5px;
              position: absolute;
              background-color: $white;
            }
            &.first {
              margin-right: 5px;
              @extend %layout-pushLeft;
              &:before {
                top: 1px;
                left: 1px;
              }
            }
            &.last {
              margin-left: 5px;
              @extend %layout-pushRight;
              &:before {
                bottom: 1px;
                right: 1px;
              }
            }
          }
          p {
            width: calc(100% - 25px);
            height: 20px;
            padding: 4px 0;
            color: #8264a6;
            font-size: $font-size-normal;
            line-height: $font-size-normal;
          }
          &:first-child {
            @extend %layout-pushLeft;
            p {
              @extend %layout-pushLeft;
            }
          }
          &:last-child {
            @extend %layout-pushRight;
            p {
              @extend %layout-pushRight;
              text-align: right;
            }
          }
        }
      }
    }

  }
  &__edit-listing {
    a {
      display: block;
      margin-top:20px;
      border-radius: 0;
      cursor: pointer;
      background:none;
      @extend .button, .button--posh, .button--medium;
      color: $posh-color;
      &:hover {
        color: $white;
      }
    }
  }
}






.added__wrapper {
  > h2 {
    font-size: 24px;
    @extend %heading;
    margin: 0;
    padding: 30px 0;
    text-align: center;
    text-transform: none;
  }
  .added__info {
    box-sizing: border-box;
    text-align: left;
    padding-left: 10px;
    h2 {
      @extend %font-size-x-large;
      @extend %font-all-caps;
    }
    h3 {
      margin-bottom: 10px;
      @extend %font-size-x-large;
      @extend %heading;
    }
    p {
      margin: 10px 0;
      @extend %font-size-normal;
    }
  }
  .added__total {
    margin: 15px 0;
    @extend %font-size-normal;
  }
  .checkout {
    @extend .button--orange;
  }
}