.page-menu {
	position:relative;
	overflow-x:auto;
	white-space:nowrap;
	.horizontal-list--inline {
		text-align:center;
		li {
			margin: 0 5px;
			padding:0 5px;
			@extend %font-all-caps, %font-size-large;
			a {
				@extend %link--greyToPosh;
			}

			&.active {
				padding: 0 5px;
				padding-bottom:10px;
				font-weight:$font-weight--bold;
				color:$posh-color;
				border-bottom: 4px solid $posh-color;
			}
			&:first-child {
				margin-left:15px;
			}
			&:last-child {
				margin-right:15px;
			}
		}
	}
}