.payout {
	@extend %layout-maxwidth720;
	animation: .1s hack infinite;

	&__kinds {
		h2 {
			box-sizing: border-box;
			font-size: $font-size-x-large;
			margin-left: 16.666%;
			width: 66.666%;
			padding: 0 10px;
			font-weight: $font-weight--bold;
			margin-bottom: 10px;
		}
		h6 {
			box-sizing: border-box;
			font-size: $font-size-normal;
			margin-left: 16.666%;
			width: 66.666%;
			padding: 0 10px;
			font-weight: $font-weight--normal;
			margin-bottom: 10px;
			text-align: center;
		}
		ul.toggle {
			margin-bottom: 40px;
			label {
				font-size: $font-size-large;
			}
		}
	}

	&__forms {
		form {
			display: none;
			&:first-child {
				display: block;
			}
			label {
				a {
					color: $posh-color;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}