.profile {
	position:relative;
	@extend .grid-size12of12;
	@extend %layout-maxwidth720;
	@extend %clear;
	padding:30px 0;
	
	&__image {
		@extend %layout-pushLeft;
		box-sizing:border-box;
		padding:10px;

		width:120px;
		img {
			@extend .grid-size12of12;
			@extend %round-image;
		}

		img + .button {
			margin-top: 10px;
		}

		img + .followers__status + label:before {
			margin-top: 10px;
		}
	}

	&__details {
		float:left;
		width: 60%;
		width:calc(100% - 120px);
		box-sizing:border-box;
		padding:10px;
		padding-bottom:0;
		.user {
			&__name {
				@extend %font-size-x-large;
				padding-bottom: 10px;
			}
			&__location {
				a {
					@extend %link--greyToPosh;
				} 
				padding-bottom: 10px;
			}
			&__size {
				color:$light-grey;
				line-height: 1.5;
			}
		}

		@media all and (min-width:480px) {
			width:48%;
			width:calc(75% - 120px);
		}

	}


	&__ranking {
		padding-bottom:10px;
			a {
				@extend %link--greyToDarkGrey;
			} 
		

		.followers {
			padding-top:10px;
			&__item {
				display: inline;
			}

		}

		@media all and (min-width:480px) {
			text-align: center;
			position:absolute;
			top:30px;
			right:0;
			width:25%;
			box-sizing:border-box;
			padding:10px;

			.followers {
				position:relative;
				margin-top: 20px;
				padding:5px;
				&:before, &:after {
					position: absolute;
				    content: '';
				    left: 0;
				    right: 0;
				    border-radius: 50%;
				    height: 20px;
				    width: 100%;
				    margin: 0 auto;
				    z-index:-1;
				}

				&:before {
					top: 0;
				    box-shadow: rgba(0, 0, 0, 0.1) -5px -2px 10px;
				    clip: rect(-30px, auto, 0px, 0);  
				    z-index:0;
			    }

				&:after {
				    bottom: 0;
				    box-shadow: rgba(0, 0, 0, 0.1) 5px 2px 10px;
				    clip: rect(20px, auto, 50px, 0);
				    z-index:0;
				}

				&__item {
					display: block;
					padding:5px 0;
				}
			}
		}
	}


	&__about {
		@extend %layout-pushLeft;
		@extend .grid-size12of12;
		@extend %heading;
		@extend %font-size-x-large;
		box-sizing:border-box;
		line-height: 1.25;
		@extend %layout-sidePadding10;
		padding-top:10px;
		padding-bottom: 10px;
		@media all and (min-width:480px) {
			float:left;
			width:48%;
			width:calc(75% - 120px);
		}
	}
}