.register-button, 
.login-button,
.register-button--fixed, 
.login-button--fixed,
.register-button--side,
.login-button--side,
.login-button--self,
.register-button--self {
  // @extend %link--greyToDarkGrey;
  color: $dark-grey;
  cursor:pointer;
  a {
      @extend %link--greyToDarkGrey;
  }
}

#password-form,
#password-form--fixed {
  display:none;
}

.modal {
  z-index: 3;
  box-sizing: border-box;
  max-width: 450px;
  position:absolute;
  visibility: hidden;
  left: 0;
  transition: opacity .2s linear;
  transition: left .2s linear 1s;
  &--large {
    max-width: 720px;

    @media all and (max-width: 449px) {
      max-width: 100%;
    }
  }
  &.show {
    visibility: visible;
    display: block;
    transition: left 0s linear 0s;
    left: 50%;
    > div {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .loader {
    position: absolute;
    background-color: rgba(255, 255, 255, .75);
  }

  @media all and (min-width:450px) {
    left:0%;
    top:0;
  }
  @media all and (max-width: 449px) {
    width: 100%;

    &--large {
      max-width: 100%;
    }

    &.show {
      left: 0
    }
  }
}

.register {
  z-index:3;
  box-sizing:border-box;
  padding:10px;
  position: relative;
  &--absolute {
    opacity: 0;
    width: 100%;
    min-width: 450px;
    transform: translateY(20%);
    transition: all .2s linear;
    padding:45px 60px;
    h1 {
      font-size: 24px;
    }
    p.register__confirm {
      text-align: center;
      font-size: $font-size-x-large;
      line-height: 1.5em;
      padding: 15px 0;
    }
    @extend .grid-size6of12;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
    background:$white;
    @media all and (max-width:719px) {
      min-width: 100%;
      width:100%;
      left:0;
      top:0;
      padding: 40px;
    }
  }

  .show-pass, .remember-me {
    @extend %layout-pushLeft;
    @extend %clear;
  }

  .forgot-pass {
    @extend %layout-pushRight;
    cursor:pointer;
    @extend %link--greyToDarkGrey;
  }


  > a:first-child {
    display: block;
    margin: auto;
    text-align: center;
  }

  img {
    max-width: 100%;
  }

  h2 {
    @extend %font-size-large;
    margin-bottom: 10px;
    @extend %font-all-caps;
  }

  input, button, textarea, select {
    font-weight: $font-weight--light;
    @extend %font-size-normal;
  }

  textarea {
    font-family: $font-family--secondary;
    font-style: italic;
    margin-top: 20px;
    resize: none;
    box-shadow: none;
    height: 100px;
  }

  select {
    margin-top: 20px;
    width: 100%;
    color: $light-grey;
  }

  &__sub {
    @extend %clear;
    &-line {
      @extend .grid-size12of12;
      @extend %clear;
    }
  }

  div.error, input[type=checkbox], 
  .register-button, .login-button,
  .register-button--fixed, .login-button--fixed,
  .forgot-pass, .remember-me, .login-button--self, .register-button--self {
    margin-top: 5px;
    text-align: center;
  }
  
  div.error, input[type=checkbox] {
    text-align: left;
  }

  input:not(:first-child):not([type=checkbox]), .toggle:not(:first-child), button {
    margin-top: 20px;
  }

  .register-continue input:not([type=checkbox]) {
    margin-top: 20px;
  }

  .register-continue {
    display:none;
  }

  .toggle label {
    font-size:$font-size-large;
    padding:5px;
  }

  .login-button,
  .register-button,
  .login-button--fixed,
  .register-button--fixed {
    margin: 30px 0;
    font-size: $font-size-large;
    strong {
      font-weight: $font-weight--bold;
      color: $posh-color;
      text-decoration: underline;
      &:hover { text-decoration: none; }
    }
  }

  &__terms {
    margin: 30px 0 40px;
    text-align: center;
    a {
      color: $posh-color;
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }
    div.error { text-align: center; }
  }
  
  &.support {
    h1 { padding: 0 0 45px; }
  }
  &.confirm {
    h1 {
      padding: 30px 10px;
    }
    ul.horizontal-list--2columns {
      li {
        box-sizing: border-box;
        padding: 0 30px;
      }
    }
  }
  &.tracking-modal {
    color: #fb0;
    .tracking-modal__input {
      display: block;
      width: 100%;
      margin: auto;
      position: relative;
      transition: all 0s linear;
      input {
        display: block;
        width: 100%;
        height: 100%;
        max-height: 32px;
        padding: 4px 30px 4px 8px;
        box-shadow: none;
        font-family: inherit;
        font-size: $font-size-large;
        color: $dark-grey;
      }
      button {
        display: block;
        width: 16px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 4px;
        margin: 0;
        cursor: pointer;
        outline: none;
        border: none;
        padding: 0;
        color: $light-grey;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
      }
    }
  }

  &.review-lender {
    h2 {
      text-align: center;
      text-transform: none;
      margin-bottom: 0;
      @extend %heading;
      font-size: 22px;
      padding: 30px 0;
    }

    h3 {
      text-align: center;
      margin: 15px 0;
      @extend %heading;
      font-size: $font-size-x-large + 2;
      padding: 0;
    }

    .review-lender__fieldbox {
      flex-wrap: wrap;
      li {
        margin-bottom: 15px;
        &:last-child { margin-bottom: 0; }
      }
    }

    .review-lender__form {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    .review-lender__label {
      flex: 0 0 25%;
    }

    .review-lender__field {
      flex: 0 0 75%;
    }

    .review-lender__button {
      flex: 0 0 75%;
      margin-left: 25%;

      button {
        width: 100%;
        margin: auto;
      }
    }

    .review-lender__stars {
      li {
        display: inline-block;
        margin-bottom: 0;
      }
    }

    label {
      font-size: $font-size-large;
      line-height: 30px;

      &.error {
        color: $error-color;
      }
    }

    .icon-star {
      line-height: 30px;
      margin: 0 2px;
      cursor: pointer;

      &.checked {
        color: $posh-color;
        &:before {
          content: '\e812';
        }
      }
    }

    input[type="text"] {
      height: 30px;
      line-height: 30px;
      padding: 0 5px;
      font-size: $font-size-large;
    }

    textarea {
      margin-top: 0;
      line-height: 30px;
      padding: 0 5px;
      font-size: $font-size-x-large + 2;
    }

    @media all and (max-width: 719px) {
      li.review-lender__label,
      li.review-lender__field {
        flex: 1 1 100%;
        text-align: center;
        margin-bottom: 5px;

        label, .review-lender__stars {
          display: block;
          width: 100%;
        }
      }

      .review-lender__button {
        margin-top: 25px;
        margin-left: 0;
        flex: 1 1 100%;
      }
    }

  }

  &.payout-missing {
    padding-top: 80px;
    & .payout-missing__cancel {
      margin-top: 80px;
    }
    p {
      margin-bottom: 30px;
      text-align: center;
      font-weight: $font-weight--light;
      font-size: $font-size-x-large;
      line-height: 1.3em;
      color: $dark-grey;
    }
  }
  &.payment-error {
    text-align: center;
    h1 {
      font-size: 20px;
    }
    .button {
      margin-top: 20px;
    }
  }
  &.sign-up {
    padding: 55px 75px 85px;
    h1 {
      font-size: 24px;
    }
    p {
      margin-bottom: 30px;
      text-align: center;
      font-size: $font-size-normal;
    }
    input {
      text-align: center;
    }
    ul.horizontal-list--float {
      li {
        box-sizing: border-box;
        &:first-child {
          padding-right: 5px;
        }
        &:last-child {
          padding-left: 5px;
        }
      }
    }
    &--before-exit {
      width: 720px;
      max-width: 100%;
      padding: 75px 75px;
      box-shadow: none;
      background: transparent;
      a {
        margin-bottom: 50px
      }
      p {
        margin: 10px 0;
        @extend %heading;
        font-size: $font-size-x-large + 6;
      }

      @media all and (max-width: 449px) {
        padding: 25px;

        .horizontal-list--float {
          li {
            float: none;
            display: block;
            width: 100%;

            input[type="submit"] {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
    input[type='text'] {
      margin-top: 50px;
      margin-bottom: 20px;
      height: 36px;
      font-size: $font-size-x-large + 2;
      & + .error {
        margin: -20px 0 20px;
      }
    }
    .button--banner {
      color: $brown;
      &:hover {
        color: $white;
      }
    }
    ul.horizontal-list--float {
      li {
        box-sizing: border-box;
        &:first-child {
          padding-right: 10px;
        }
        &:last-child {
          padding-left: 10px;
        }
      }
    }
  }
  &.new-orders {
    padding: 85px 115px;
    h2 {
      font-size: 14px;
      text-align: center;
      text-transform: none;
    }
    a {
      margin-top: 30px;
    }
  }

  &.mobile-register {
    a:first-child {
      margin-bottom: 15px;
    }

    p {
      text-align: center;
      font-size: $font-size-large;
      line-height: 1.5em;
    }

    h3 {
      text-align: center;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: $font-weight--bold;
      color: $dark-grey;
    }
    
    .mobile-register__form {
      margin-top: 20px;
      input {
        box-sizing: border-box;
        display: block;
        width: 100%;
        font-size: $font-size-x-large;
        font-weight: $font-weight--light;
        line-height: 30px;
        padding: 0 10px;
      }
      .button {
        font-size: $font-size-x-large;
      }
    }
    .mobile-register__close {
      margin: 20px 0;
      text-align: center;
      text-decoration: underline;
      cursor: pointer;
      font-size: $font-size-x-large;
      font-weight: $font-weight--light;
      color: $black;
      &:hover {
        text-decoration: none;
      }
    }
    .mobile-register__after-submit {
      margin: 15px 0;
      display: none;
    }
    .mobile-register__info {
      line-height: 1.1em;
      font-size: $font-size-small;
    }
  }

  &__message {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .95);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    &__text {
      box-sizing: border-box;
      max-width: 480px;
      flex: auto;

      p {
        @extend %heading;
        margin: 10px 0;
        text-align: center;
        font-size: $font-size-x-large + 4;
        line-height: 1.5em;
      }
    }
  }
}

input.register__zip {
  width: 33.33%;
}

h2.register__step-heading,
h2.login__header {
  padding:30px;
  text-align:center;
  font-size: 0.8 * $font-size-xx-large;
  @extend %heading;
  color:$grey;
  margin: 0;
  letter-spacing: 0;
  text-transform: none;
}