.review:not(:first-child) {
margin-top: 60px;
}

.review {
  box-sizing:border-box;
  font-size: 12px;
  width: 100%;
  padding: 0 10px;
  @extend %layout-maxwidth720;
  textarea {
    width:100%;
    box-sizing:border-box;
    resize:none;
    & + .button {
      margin-top: 10px;
    }
  }
}

.review__header {
  .user {
    @media all and (max-width:479px) {
      display: block;
      margin-top:10px;
      margin-bottom: 20px; 
    }
  }
}

.review__header i:before {
  font-size: 12px;
}

.review__content {
  margin-top: 10px;
  font-size: 14px;
  font-family: 'Crimson Text';
  line-height: 1.5;
}

.reviews {
  &__stars {
    i:before {
    @extend %font-size-normal;
    padding: 2px;
    }
    .icon-star-on {
      color:$posh-color;
    }
    .icon-star {
      color:$light-grey;
    }
  }
  &__number {
    @extend %font-size-small;
  }
}