 .scrollpanel {
  float: left;
  margin: 30px;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
}
 .scrollpanel .sp-scrollbar {
  width: 10px;
  background-color: #ccc;
  cursor: pointer;
}
.scrollpanel .sp-scrollbar .sp-thumb {
  background-color: #aaa;
  transition: height 0.2s ease-in-out;
}
 .scrollpanel .sp-scrollbar.active .sp-thumb {
  background-color: #999;
}
.no2 .sp-scrollbar,
 .no4 .sp-scrollbar {
  margin: 4px;
}
.no3,
 .no4 {
  border-radius: 9px;
}
 .no3 .sp-scrollbar,
 .no4 .sp-scrollbar {
  border-radius: 5px;
}
.no3 .sp-scrollbar .sp-thumb,
.no4 .sp-scrollbar .sp-thumb {
  border-radius: 5px;
}