.stylefeed {
	@extend %layout-maxwidth720;
	&:not(:first-child) {
		margin-top: 20px;
	}
	&__content {
		a {
			@extend %link--greyToDarkGrey;
		}
		margin-top: 10px;
		@extend %layout-sidePadding10;
	}


	&__header {
		@extend %layout-sidePadding10;
	}
	


	&__user {
		@extend %layout-sidePadding10;
		@extend %layout-pushLeft;
		a {
			@extend %link--greyToDarkGrey;
		}
		width:100px;
		box-sizing:border-box;
		img {
			@extend %round-image;
			width:100%;
		}
		text-align: center;
	}

	&__item {
		margin-top: 10px;
		@extend %layout-pushLeft;
		box-sizing:border-box;
		@extend %layout-sidePadding10;
		width:33.333%;
		max-width:144px;
		img {
			width:100%;
		}
	}

	&__own-item {
		@extend .stylefeed__item;
		@extend %layout-pushRight;
		&-description {
			a {
				@extend %link--greyToDarkGrey;
			}
			line-height: 1.5;
			@extend %layout-pushLeft;
			@extend %layout-sidePadding10;
			box-sizing:border-box;
			margin-top:10px; 
			width: 66.666%;
		}
	}

	&__items {
		@extend %clear;
	}

	&__users--7 {
		@extend %clear;
		margin-top:10px;
		.stylefeed__user {
			@media all and (max-width: 719px) {
				img {
					display: none;
				}
				width:auto;	
				padding:0;
				&:not(:last-child):after {
					content:',';
					margin-right:5px;
				}
			}
		}
	}

	&__users--6 {
		@extend %clear;
		margin-top:10px;
		.stylefeed__user {
			@media all and (max-width: 619px) {
				img {
					display: none;
				}
				width:auto;	
				padding:0;
				&:not(:last-child):after {
					content:',';
					margin-right:5px;
				}
			}
		}
	}


	&__users--5 {
		@extend %clear;
		margin-top:10px;
		.stylefeed__user {
			@media all and (max-width: 519px) {
				img {
					display: none;
				}
				width:auto;	
				padding:0;
				&:not(:last-child):after {
					content:',';
					margin-right:5px;
				}
			}
		}
	}	


	&__users--4 {
		@extend %clear;
		margin-top:10px;
		.stylefeed__user {
			@media all and (max-width: 419px) {
				img {
					display: none;
				}
				width:auto;	
				padding:0;
				&:not(:last-child):after {
					content:',';
					margin-right:5px;
				}
			}
		}
	}	




	&__users--3 {
		@extend %clear;
		margin-top:10px;
		.stylefeed__user {
			@media all and (max-width: 319px) {
				img {
					display: none;
				}
				width:auto;	
				padding:0;
				&:not(:last-child):after {
					content:',';
					margin-right:5px;
				}
			}
		}
	}	


}