.terms {
  padding: 0 0 120px;
  &__wrapper {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    h2 {
      margin-bottom: 20px;
      font-size: $font-size-large;
      line-height: 1em;
      font-weight: $font-weight--normal;
      color: $grey;
      text-align: center;
    }
    h3 {
      margin-bottom: 20px;
      font-size: $font-size-normal;
      line-height: 1em;
      font-weight: $font-weight--normal;
      color: $grey;
    }
    p {
      margin-bottom: 20px;
      font-size: $font-size-normal;
      line-height: 1.5em;
      font-weight: $font-weight--normal;
      color: $grey;
      text-align: justify;
      strong {
        font-weight: $font-weight--bold;
      }
    }
    ul {
      margin-bottom: 20px;
      li {
        font-size: $font-size-normal;
        line-height: 1.5em;
        font-weight: $font-weight--normal;
        color: $grey;
        margin-bottom: 5px;
        padding-left: 20px;
        &:last-child { margin-bottom: 0; }
        &:before {
          content: '-';
          font-size: $font-size-x-large;
          line-height: 1.5em;
          font-weight: $font-weight--light;
          color: $grey;
          margin-left: -15px;
          margin-right: 10px;
        }
      }
    }
    a {
      color: $posh-color;
      text-decoration: underline;
      &:hover { text-decoration: none; }
    }
  }
}