.thanks {
  padding-top: 0;
  &__title {
    padding: 75px 30px 30px;
  }
  & > h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: $font-size-large;
    line-height: 1.5em;
    margin-bottom: 75px;
  }
  &__button {
    max-width: 450px;
    margin: 60px auto 0;
  }
}