$user_img_width: 20px;
.user {
	&__name {
		color: $dark-grey;
	}
	&__img--float {
		width: $user_img_width;
		@extend %round-image;
		@extend %layout-pushLeft;
		margin-right: 5px;
	}
	&__img--inline {
		width: $user_img_width;
		@extend %round-image;
		margin-right: 2px;
		vertical-align: middle;
	}
	a {
		@extend %link--greyToDarkGrey;
	}
	@extend %clear;
}